---
import Text from '../../components/system/Text.astro'
import MultiStyleText from '../../components/system/MultiStyleText.astro'
import bottomCloud from './bottomCloud.svg'
import { Image } from 'astro:assets'
import bottomBG from '../../image/meetCharacter/bottomBG.png'

import elly from '../../image/meetCharacter/elly.png'
import olly from '../../image/meetCharacter/olly.png'
import molly from '../../image/meetCharacter/molly.png'
import ria from '../../image/meetCharacter/ria.png'
import arya from '../../image/meetCharacter/arya.png'

import bg1 from '../../image/meetCharacter/bg/bg-1.png'
import bg2 from '../../image/meetCharacter/bg/bg-2.png'
import bg3 from '../../image/meetCharacter/bg/bg-3.png'
import bg4 from '../../image/meetCharacter/bg/bg-4.png'

import reference from '../../image/meetCharacter/bg/reference.png'
const characters = [
  {
    name: 'Elly',
    image: elly,
    textColor: '#AB3C5F',
    shadowColor: '#F6B3C4',
    width: '100%',
    top: '20%',
  },
  {
    name: 'Olly',
    image: olly,
    textColor: '#634238',
    shadowColor: '#BAA788',
    width: '100%',
    top: '35%',
    left: '10%'
  },
  {
    name: 'Molly',
    image: molly,
    textColor: '#AB3C5F',
    shadowColor: '#F6B3C4',
    width: '80%',
    top: '29%',
    left: '13%'
  },
  {
    name: 'Ria',
    image: ria,
    textColor: '#AC208D',
    shadowColor: '#F6B3C4',
    width: '90%',
    top: '25%',
  },
  {
    name: 'Arya',
    image: arya,
    textColor: '#AC208D',
    shadowColor: '#F6B3C4',
    width: '56%',
    top: '25%',
    left: '17%'
  },
]

---
<div>
  <div class="max-md:pt-8 hidden max-md:block"></div>
  <div class="flex flex-row max-md:flex-col">
    <div class="w-[40%] px-[60px] max-md:px-[20px] max-md:w-full">
      <div class="pt-[170px] max-md:pt-[40px]" />
      <Text type="h2" class="text-primary">
        <MultiStyleText
          text="ELLY"
          classes={["text-purple", "text-blue-100", "text-green-200", "text-primary"]}
        ></MultiStyleText>
        <br />
        <span class="[text-decoration-line:wavy]">
          Universe
        </span>
      </Text>
      <div class="pt-[2px] max-md:pt-[10px]" />
      <Text type="base" class="text-[#1B2226] leading-[160%] !font-[400]">
        <span class="text-[#460103]/70 font-bold text-[22px]">A whole new world created for your child.</span>
        <br/><br/>

        Elly is not your ordinary preschool mascot. She is lovable, friendly, and embodies all the qualities we want our children to embrace; kindness, curiosity, and a warm heart. Elly is more than just a character; she’s a teacher, a friend, and a source of endless wonder for our children.
        <br/><br/>

        Little Elly’s nurturing environment creates a happy home away from home for your child where they are not just taking their first step towards school but are becoming a part of our magical world. As they explore the captivating journeys of the <span class="font-bold">'Elly World'</span> and the enchanting <span class="font-bold">'Natterjack Forest'</span>, they are encouraged to engage in <span class="font-bold">“LOOK, READ, MAKE, and DO”</span> activities with Olly & Elly. Our offerings further enhance this immersive experience, ensuring that your child's early years are filled with joy, learning, and meaningful connections.
      </Text>
    </div>
    <div data-character-trigger class="flex-1 w-[60%] max-md:w-full max-md:min-h-[800px] h-[913px] flex flex-col relative items-center" style={{
      background: 'linear-gradient(180deg, rgba(255, 255, 255, 0.00) 17.01%, #F8D6A0 63.56%)'
    }}>

      <div class="absolute top-0 left-0 h-[100%] w-[100%] overflow-hidden">
        <div class="h-[55%] w-full absolute bottom-[-10%] left-0 z-[40]">
          <Image width={1000} src={bg1} class="w-full h-[100%] top-[16%] absolute object-cover object-top" alt="" data-character-bg-1 />
        </div>
      </div>

      <div class="h-[27%] w-full absolute bottom-[4%] left-0 z-[30]">
        <Image width={1000} src={bg2} class="w-full h-[100%] object-cover object-top" alt="" data-character-bg-2 />
      </div>
      <div class="h-[37.6%] w-full absolute bottom-[8%] left-0 z-[20]">
        <Image width={1000} src={bg3} class="w-full h-[100%] object-cover object-top" alt="" data-character-bg-3 />
      </div> 
      <div class="h-[37%] w-full absolute bottom-[6.8%] left-0 z-[10]" >
        <Image width={1000} src={bg4} class="w-full h-[100%] object-cover object-top" alt="" data-character-bg-4 />
      </div>

      <div class="text-xl text-uppercase font-[700] tracking-[3.68px] text-center mt-[145px] opacity-50" style={{
        color: 'rgba(70, 1, 3, 0.75)'
      }}>
        MEET OUR CHARACTERS
      </div>

      <div class="relative z-[99] flex flex-col items-center">
        <div class="text-[60px] font-display font-bold text-center opacity-0 pointer-events-none" style={{
          textShadow: `0px 4.249px 0px ${characters[0].shadowColor}`,
          color: characters[0].textColor
        }}>
          {characters[0].name}
        </div>

        {characters.map((character) => (
          <div 
            class="transition-opacity duration-700 transition-smooth absolute z-[99] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] font-display font-bold text-center opacity-0 pointer-events-none [&.active]:opacity-100 [&.active]:pointer-events-auto" 
            data-character-title
          >
            <Text type="h2" class="text-primary" style={{
              textShadow: `0px 4.249px 0px ${character.shadowColor}`,
              color: character.textColor
            }}>
              {character.name}
            </Text>
          </div>
        ))}
      </div>

      <div class="z-[99] relative flex flex-col items-center">
        <div class="w-[70%] relative">
          <div class="w-[100%] opacity-0 pointer-events-none [&.active]:opacity-100 [&.active]:pointer-events-auto">
            <Image
              src={characters[0].image}
              class="w-full h-full object-contain object-top"
              width={500}
              alt={"Little Elly Character, " + characters[0].name}
            />
          </div>
          {characters.map((character) => (
            <div 
              data-character 
              class="absolute opacity-0 transition-smooth duration-700 transition-opacity pointer-events-none [&.active]:opacity-100 [&.active]:pointer-events-auto"
              style={{
                width: character.width,
                top: character.top,
                left: character.left,
              }}
            >
              <Image
                src={character.image}
                class="w-full h-full object-contain object-[top_center]"
                width={500}
                alt={"Little Elly Character, " + character.name}
              />
            </div>
          ))}
        </div>


        
      </div>

    </div>
  </div>

</div>


<script>
  const characters = document.querySelectorAll('[data-character]')
  const characterTitles = document.querySelectorAll('[data-character-title]')

  let timer = null
  let currentCharacter = 0


  const setIntervalImmediate = (fn, ms) => {
    fn()
    return setInterval(fn, ms)
  }



  const startAutoPlay = () => {
    timer = setIntervalImmediate(() => {
      characterTitles.forEach((title) => {
        title.classList.remove('active')
      })
      characters.forEach((character) => {
        character.classList.remove('active')
      })
      characterTitles[currentCharacter].classList.add('active')
      characters[currentCharacter].classList.add('active')
      currentCharacter = (currentCharacter + 1) % characterTitles.length
    }, 3000)
  }

  startAutoPlay()


</script>