---
import config from '../../../config';
import Heading from '../system/Heading.astro';
import Text from '../system/Text.astro';
import Button from '../system/Button.astro';
import Section from '../system/Section.astro';
import YoutubeEmbed from '../YoutubeEmbed.astro'
import TestimonicalCard from './TestimonicalCard.astro';
import FilledArrowCircle from "../icons/FilledArrowCircle.astro";

import testimonial1 from '../../images/testimonial/test1.png'
import testimonial2 from '../../images/testimonial/test2.png'
import testimonial3 from '../../images/testimonial/test3.png'
import testimonial4 from '../../images/testimonial/test4.png'
import testimonial5 from '../../images/testimonial/test5.png'
import student3 from "../../images/student3.png"
import Scribble from '../Scribble.astro';
import Carousel from '../system/Carousel.astro';
import CarouselCard from '../system/CarouselCard.astro';
import { Image } from 'astro:assets';
import HeartIllustration from "../../image/decorations/heart.png";
import SparkleIllustration from "../../image/decorations/sparkle.png";
import FlowerIllustration from "../../image/decorations/creative-flower.png";
import StarIllustration from "../../image/decorations/star.png";

const testimonials = {
    title: 'Little Elly Voices',
    subtitle: 'Stories of Transformation and Growth',
    data: [
      {
        image: testimonial1,
        quote: " it is Viaani’s happy place!",
        ctaText: 'Watch Video',
        ctaLink: '',
        authorSubtext: 'Mother of Viaani, UKG',
        author: 'Dr. Alina,',
        desc: 'I had always heard that Little Elly is a good school, however, after Viaani started at Little Elly, I was even more impressed. Little Elly has laid a great foundation for my child. I am especially happy about the focus given to extracurricular activities and the bond between teachers and children. I always find that she looks forward to school every morning. Sometimes she even wakes up and gets ready before I go to wake her up. Viaani will surely miss Little Elly when she moves schools after UKG.'
      },
      {
        image: testimonial2,
        quote: " it has made my Riaan more social and confident.",
        ctaText: 'Watch Video',
        ctaLink: '',
        authorSubtext: 'Mother of Riaan, Nursery',
        author: 'Vishaali,',
        desc: 'Being a child that was born during the COVID-19 lockdown he was indoors for a very long time which was worrying for us because he would not talk to anyone and was very shy. After he started coming to Little Elly I noticed a lot of growth in him. He was able to mingle with other children and adapted well. He is now very social and tries to make friends and interact with more people. I am very happy with Little Elly.'
      },
      {
        image: testimonial3,
        quote: " I feel that a spark was ignited in Pragathi and I couldn’t be happier. ",
        ctaText: 'Watch Video',
        ctaLink: '',
        authorSubtext: 'Mother of Pragathi, Nursery',
        author: 'Shilpa,',
        desc: 'We moved to Bangalore last year and were very sceptical about finding the right school for our daughter because this was a new place for us. Although Pragathi was in school in Cochin, she was only really able to speak our mother tongue. After some research from my end, she joined Little Elly for Playgroup. The Centre head and the teachers were all very welcoming. I felt safe. Pragathi has now made a lot of progress, especially with her language and vocabulary which I can see has improved tremendously.'
      },
      {
        image: testimonial4,
        quote: " this is Aileen’s first step to schooling and we didn’t want to make a mistake.",
        ctaText: 'Watch Video',
        ctaLink: '',
        authorSubtext: 'Mother of Aileen, Playgroup',
        author: 'Mrs. Leanna,',
        desc: 'We were looking for the best preschool in the area. We visited about 3-4 schools and were most happy with Little Elly Indiranagar. Aileen was not at all social and this was a major worry for us. She is very shy and was born during the pandemic which meant she didn’t get to mingle with other people very much. After coming to Little Elly there has been a great change. Our daily and friends have also pointed out to us that there is a visible change. '
      },
      {
        image: testimonial5,
        quote: " Agastya is happier in school than he is at home and that is saying something…",
        author: 'Mrs. Asha and Mr. Gururaj,',
        authorSubtext: 'Parents of Agasthya, Playgroup',
        desc: 'Agastya moved to Little Elly in the middle of the academic year. To our surprise, he had fully settled in two days. He loves his Raaji Ma’am and we really like the preschool program and the activities. Since both of us work long days he is in school for most of the day as he stays back for daycare. We were skeptical about leaving him here for long hours but he seems to be happier here than at home.'

      },
    
    ],
}

const title = testimonials.title;
const data = testimonials.data
const subtitle = testimonials.subtitle;
---

<Section class="flex flex-col items-center bg-[#FBDECE] gap-4 pt-10 px-0">
    <div class="flex w-full justify-center items-center gap-xl max-sm:gap-r">
      <div class="flex max-h-[80px] gap-l max-sm:gap-r max-sm:flex-col">
        <Image src={FlowerIllustration} alt={"heart"} class={'object-contain max-sm:w-[40px]'} ></Image>
        <Image src={SparkleIllustration} alt={"heart"} class={'object-contain max-sm:w-[40px]'}></Image>
      </div>
      <div>
       <Text type={'h2'} class='text-[#1E2F67] text-center'>Testimonials</Text>

        <Text type={'base'} class='font-bold text-center'>Hear from our Parents!</Text>
      </div>
       <div class="flex max-h-[80px] gap-l max-sm:gap-r max-sm:flex-col">
         <Image src={HeartIllustration} alt={"heart"} class={'object-contain max-sm:w-[40px]'} ></Image>
         <Image src={StarIllustration} alt={"heart"} class={'object-contain max-sm:w-[40px]'} ></Image>
       </div>

    </div>

  <div class="flex flex-row gap-7 max-sm:flex-col max-sm:gap-0 max-md:hidden">
    <Carousel
      arrowsContainerClass="mt-4"
      class="flex flex-row gap-7 overflow-scroll"
      id="testimonial-carousel"
      stackOnMobile
    >
    {data.slice(1).map(item => {
      return (
        <CarouselCard>
          <TestimonicalCard 
              quote={item.quote}
              author={item?.author}
              image={item.image}
              ctaText={item.ctaText}
              ctaLink={item.ctaLink}
              desc={item.desc}
              authorSubtext={item.authorSubtext}
              className="bg-transparent"
          />
          </CarouselCard>
      )
    })}
    </Carousel>
  

    
  </div>
  <div class="testimonial-swiper max-w-[100vw] hidden max-md:flex flex-col items-center">
   <div class="swiper-wrapper">
     {data.slice(1).map(item => {
       return (
         <TestimonicalCard 
             quote={item.quote}
             author={item?.author}
             image={item.image}
             ctaText={item.ctaText}
             ctaLink={item.ctaLink}
             desc={item.desc}
             swiper
             authorSubtext={item.authorSubtext}
             className="bg-transparent"
         />
       )
     })}
   </div>
   <div class="mt-[40px] flex justify-between w-[100px]">
    <div class="w-10 h-10 pointer-events-auto cursor-pointer" data-prev-swiper='testimonial-swiper'>
        <div class="relative left-[1px] ">
          <FilledArrowCircle
          svgClass={"w-full h-full bg-white rounded-full rotate-180"}
          color={"#FF7162"}
      />
          
      </div>
    </div>
    <div class="w-10 h-10 pointer-events-auto cursor-pointer" data-next-swiper='testimonial-swiper'>
        <div class="relative left-[1px] text-white bg-white rounded-full">
          <FilledArrowCircle
              pathClass={"text-white"}
              svgClass={"w-full h-full rotate"}
              color={"#FF7162"}
        />
      </div>
      </div>
  </div>
  </div>
 
  <!-- <div class="flex w-[160px] justify-between">
    <FilledArrowCircle
        svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px] rotate-180"}
        color={"#EE7F82"}
  />
    <FilledArrowCircle
    svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px]"}
    color={"#EE7F82"}
  />
  </div> -->


</Section>
<div class=" w-full h-[150px] flex bg-transparent relative bg-[red]">
  {
    Array(6).fill("").map((_, i) => (
      <div class="basis-[100%] rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241 117" fill="none">
<path d="M0.468471 -3.86623C0.468468 27.939 13.1031 58.4416 35.5928 80.9313C58.0825 103.421 88.5851 116.056 120.39 116.056C152.196 116.056 182.698 103.421 205.188 80.9314C227.678 58.4417 240.312 27.9391 240.312 -3.8662L120.39 -3.86622L0.468471 -3.86623Z" fill="#FBDECE"/>
</svg></div>
    ))
  }
  
</div>
