---
import config from '../../../config';
import Heading from '../system/Heading.astro';
import Text from '../system/Text.astro';
import Button from '../system/Button.astro';
import Section from '../system/Section.astro';
import YoutubeEmbed from '../YoutubeEmbed.astro'
import TestimonicalCard from './TestimonicalCard.astro';
import FilledArrowCircle from "../icons/FilledArrowCircle.astro";

import testimonial1 from '../../images/testimonial/1.png'
import testimonial2 from '../../images/testimonial/2.png'
import testimonial3 from '../../images/testimonial/3.png'
import student3 from "../../images/student3.png"
import Scribble from '../Scribble.astro';

const testimonials = {
    title: 'Ekam Voices',
    subtitle: 'Stories of Transformation and Growth',
    data: [
      {
        image: testimonial3,
        quote: "Ekam’s warm and supportive environment has played a vital role in shaping my child's educational journey and personal development. We’re delighted to call our child an Edifian!",
        ctaText: 'Watch Video',
        ctaLink: '',
        author: '- MS. VIJAYALAKSHMI, PARENT'
      },
      {
        image: testimonial2,
        quote: "Experiencing continuous growth over the past year, I've felt supported and welcomed since day one. This school provides an excellent platform for me to build confidence.",
        author: '- PRERnA (grade 10)',
      },
      {
        image: testimonial1,
        quote: 'I cherish my school for its supportive and friendly teachers who not only enhance our skill sets but also instill invaluable moral values, creating a nurturing learning environment.',
        author: '- VIHANA, STAGE 6, igcse',

      },
    ],
}

const title = testimonials.title;
const data = testimonials.data
const subtitle = testimonials.subtitle;
---

<Section class="flex flex-col items-center bg-[#FBDECE] gap-4">
    <Text type={'h2'} class='text-[#1E2F67] text-center'>Testimonials</Text>
    <Text type={'base'} class='font-bold text-center'>Hear from our Parents!</Text>

  <div class="flex flex-row gap-7 max-sm:flex-col max-sm:gap-0">
    {data.slice(1).map(item => {
      return (
        <TestimonicalCard 
            quote={item.quote}
            author={item?.author}
            image={item.image}
            ctaText={item.ctaText}
            ctaLink={item.ctaLink}
            className="bg-transparent"
        />
      )
    })}

  </div>
  <div class="flex w-[160px] justify-between">
    <FilledArrowCircle
        svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px] rotate-180"}
        color={"#EE7F82"}
  />
    <FilledArrowCircle
    svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px]"}
    color={"#EE7F82"}
  />
  </div>


</Section>
