---
import whyChooseEdify from "../../images/whyChooseEdify.png";
import Button from "../system/Button.astro";
import { Image } from "astro:assets";
import Text from "../system/Text.astro";
import Sal from "../system/Sal.astro";
import Section from "../system/Section.astro";
import Scribble from "../Scribble.astro";
import gridBG from "../../fillers/gridBG.svg"
import Affiliations from "../Affiliations.astro";
import MultiStyleText from "../system/MultiStyleText.astro";
import Student2 from "../../images/Student2.png";
import Rope from "../../image/decorations/rope.png";
import Birds from "../../image/decorations/birds.png";
import Why1 from "../../image/why/why1.png";
import Why2 from "../../image/why/why2.png"
import Why3 from "../../image/why/why3.png"
import student from "../../images/student2.png"
import Marker from "../system/Marker.astro";
import cloud from "../../image/decorations/gifs/clouds.gif"

import gift from "../../image/decorations/gifs/gift.gif"
import clouds from "../../image/decorations/gifs/clouds.gif"

---

<Section class="flex flex-col pr-[40px] ] !p-0 max-md:!px-[20px] px-0">
  <div class="flex justify-between items-center">
    <Image src={Rope} alt={"rope"} class={'max-sm:w-20 object-contain'} data-appear data-y={0}></Image>
      <div>

        <Text type="h2" class="text-center">
          <div data-appear>
            Why Choose <br />
            <span class="relative">
              <span class="text-primary">Little </span> <MultiStyleText type="h2"text="Elly?" classes={[
                "text-purple","text-blue","text-green-200", "text-orange-200", "text-orange-200"
              ]} />
                
            </span>
          </div>
        </Text>
        <Text type="regular" class="mt-[10px] !font-[700] !text-3xl max-md:!text-[20px] max-md:leading-[100%] text-[#1C1C1C] text-center" data-appear={1}>
          <div  data-appear={1}>
            A world of <span class="text-primary">Endless</span> {" "}
            <MultiStyleText 
            classes={[
              "text-purple","text-purple","text-purple","text-purple","text-green-200", "text-green-200", "text-green-200","text-green-200", "text-yellow-200", "text-yellow-200", "text-yellow-200", "text-primary", "text-purple"
            ]}
            text="Possibilities" />
          </div>
        </Text>
      </div>
      <div  data-appear data-y={0}>
        <Image src={Birds} alt={"birds"} class={'relative max-sm:w-20  z-10 object-contain opacity-0 pointer-events-none'}> </Image>
        <Image src={clouds} height={50} alt={"clouds"} class={'absolute right-[20%] top-[-80%] max-sm:w-10  object-contain'}> </Image>
      </div>
  </div>
  <div class="flex gap-[72px]  max-md:gap-[30px] max-md:flex-col items-center relative w-fit justify-center">
    <div class="max-md:order-2 basis-[50%]" data-appear>
      <Text type="base">
        The significance of providing stimulation during the early years of a child's life is sometimes significantly undervalued. This is when your child is most receptive and malleable, with their brain developing over 90%. This period is marked by a continuous evolution of intellectual curiosity, rendering it the most influential and <span class="text-primary font-bold">defining phase in your child's life.</span> 
      </Text>
    </div>
    <div class="relative w-[384px] max-md:w-[95%]" data-appear>
      <Image
        class="w-full h-full"
        src={Why1}
        alt="Why choose Little Elly??"
        width={700}
      />
    </div>
    </div>
    <div class="flex gap-[72px]  max-md:gap-[30px] max-md:flex-col items-center relative w-fit justify-center" data-appear>
        <div class="relative w-[384px] max-md:w-[95%]">
          <Image
            class="w-full h-full"
            src={Why2}
            alt="Why choose Little Elly??"
            width={300}
          />
          <Image
            src={gift} 
            alt="gift"
            class= "absolute z-[10] w-[70px] max-md:right-[-5%] right-0 bottom-[10%] max-md:bottom-[2%]" 
          /> 
        </div>
        
      <div class="max-md:order-2 basis-[50%]">
        <div data-appear>
          <Text type="base">
            At Little Elly, we are committed to equipping each child with a safe and engaging preschool environment to explore and thrive during these crucial years. Our preschool curriculum is designed to address the specific needs of each child given the substantial mental and cognitive growth at this stage. Little Elly’s well-structured Toddler, Pre-nursery, Nursery and Kindergarten programs enhance children's emotional, intellectual, and aesthetic capabilities that <span class="text-primary font-bold">cater to their specific needs.</span>

          </Text>
        </div>
          <!-- <Sal preset="slide-up" d="300" t="400">
            
          </Sal> -->
      </div>
    
    </div>
  
  </div>
</Section>

<!-- <Section class="flex flex-col gap-2 pr-[40px] ] !p-0">
  <div class="flex justify-between items-center">
    <Image src={Rope} alt={"rope"} class={'w-20'} ></Image>
      <div>

        <Text type="h2" class="text-center">
          Our <br />
          <span class="relative">
            <span class="text-primary">Elly </span> <MultiStyleText type="h2"text="Universe" classes={[
              "text-purple","text-blue","text-green-200", "text-orange-200", "text-purple", "text-green-200","text-blue", "text-green-200"
            ]} />
              
          </span>
        </Text>
       
      </div>
    <Image src={Birds} alt={"birds"} class={'w-20'} ></Image>

  </div>
  <Section>
    <div class="flex gap-[72px]  max-md:gap-[30px] max-md:flex-col items-center relative w-fit justify-center">
      <div class="max-md:order-2 basis-[50%]">
            <Text type="base">
              Elly is not your ordinary preschool mascot. She is lovable, friendly, and embodies all the qualities we want our children to embrace; kindness, curiosity, and a warm heart. Elly is more than just a character; she’s a teacher, a friend and a source of endless wonder for our children. <br>  <br> At Little Elly your child is not just taking their first step towards school but is becoming a part of this joyful world. As they explore the captivating journeys of the 'Elly World' and the enchanting 'Natterjack Forest' They are encouraged to engage in activities that involve <span class="text-primary font-bold">“LOOK, READ, MAKE and DO” with Olly & Elly</span> 
            </Text>
      </div>
        <Image
          class="w-[384px] max-md:w-[210px]"
          src={Why3}
          alt="Why choose Little Elly??"
        />
    </div>

  </Section>
</Section> -->


<!-- <Section class="flex flex-col gap-l">
  <Text type="h2" class="text-primary text-center">
    <MultiStyleText
      text="HAPPY"
      classes={["text-purple", "text-blue-100", "text-green-200", "text-orange-200", "text-primary"]}
    ></MultiStyleText>
    <br />
    Curriculum
  </Text>

      <div class="px-5 max-sm:px-2">
        <div class="gap-5 flex max-md:flex-col max-md:gap-0 max-sm:flex-col">
         <div>
           <Text type="base" >
             We often say <span class="text-primary font-bold">A Happy Child means Happy Family</span> because a 
             joyful child brings happiness to everyone around them. 
             A child's happiness is like sunshine, spreading warmth and positivity. 
             Their joy can positively affect the well-being of every family, and our goal is to create
              a world filled with this kind of happiness.
              <br />
              <br />
               <div class="flex items-center gap-r">
                 <Marker />
                 Building an atmosphere of excitement, celebration, and joy within the learning process
               </div>
               <div class="flex items-center gap-r mt-[18px]">
                 <Marker />
                 Play-based activities designed to nurture holistic development of a child
               </div>
               <div class="flex items-center gap-r mt-[18px]">
                 <Marker />
                 Impart practical life skills to cultivate abilities that go beyond academics        </div>
               <div class="flex items-center gap-r mt-[18px]">
                 <Marker />
                 Promoting enquiry-based learning to develop curiosity in young learners
               </div>
             
           </Text>
         </div>
         

            <!-- <div class="flex flex-col ml-5 max-md:w-full max-md:ml-0">
              <div class="bg-violet-50 rounded-[61.485px] w-fit">
                <Text type="regular" class=" text-[#3C3C3C] !text-2xl px-4 py-1.5  max-md:pr-5 font-semibold font-display whitespace-nowrap">
                  <span class="text-3xl text-purple">H</span>olistic Approach
                </Text>
              </div>
              <div class="pill text-purple"></div>
              <div class="bg-[#DFECFF] rounded-[61.485px] w-fit">
                <Text type="regular" class=" text-[#3C3C3C] !text-2xl px-4 py-1.5 rounded-[61.485px] max-md:pr-5 font-semibold font-display whitespace-nowrap">
                  <span class="text-3xl text-blue">A</span>ppreciative Enquiry
                </Text>
              </div>
              <div class="pill text-blue"></div>
              <Text type="regular" class="bg-[#EFFFE1] text-[#3C3C3C] !text-2xl px-4 py-1.5 rounded-[61.485px] max-md:pr-5 font-semibold font-display whitespace-nowrap w-fit">
                <span class="text-3xl text-green-200">P</span>urposeful Play
              </Text>
              <div class="pill text-green-200"></div>
              <Text type="regular" class="bg-[#FFF6E8] text-[#3C3C3C] !text-2xl px-4 py-1.5 rounded-[61.485px] max-md:pr-5 font-semibold font-display whitespace-nowrap w-fit">
                <span class="text-3xl text-orange-200">P</span>ractical Life Skills
              </Text>
              <div class="pill text-orange-200"></div>
              <Text type="regular" class="bg-[#FFF4F4] text-[#3C3C3C] !text-2xl px-4 py-1.5 rounded-[61.485px] max-md:pr-5 font-semibold font-display whitespace-nowrap w-fit">
                <span class="text-3xl text-primary">Y</span>ay Pedagogy
              </Text>
            </div> -->
          

        </div>
      </div>
  
  
</Section> 
<!-- <div class="pt-8" /> -->
<style>
  .pill{
    position: relative;
    width: 0px;
    border: 1px dashed currentColor;
    height: 30px;
    margin-inline: auto;
  }
  
</style>
