---
import Layout from "../../layouts/Layout.astro";

import TopNavigationBar from "../../components/TopNavigationBar.astro";
import MeetCharacters from "../../components/landingPage/MeetCharacters.astro";
import HappyCurriculum from "../../components/landingPage/HappyCurriculum.astro";

import Hero from "../LandingPageHero.astro";

import "../../global.css";

import Footer from "../../components/landingPage/Footer.astro";
import Text from "../../components/system/Text.astro";
import Section from "../../components/system/Section.astro";
import GoToCta from "../../components/GoToCta.astro";
import campus1 from "../../image/campus/classroom.jpeg";
import config from "../../../config";
const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");
import Connect from "../../components/campus/Connect.astro";

import aboutLittleEllyPlaceholder from "../../images/aboutLittleEllyPlaceholder.png";

import { Image } from "astro:assets";
import Button from "../../components/system/Button.astro";
import Why from "../../components/landingPage/why.astro";

const toppers = campusConfig?.toppers;

import slide1 from "../../images/slides/1.png";
import slide2 from "../../images/slides/4.png";
import slide3 from "../../images/slides/3.png";


const { slug = '' } = Astro.params

import { getCollection, getEntry, type CollectionEntry } from 'astro:content';

const { data } = await getEntry('centres', 'centres')

let { centers } = data


const states = centers.map(center => ({name: center?.state, page: center.page})).filter(state => state.name)

const districts = centers.map(center => center.districts)
    .flat()
    .filter(district => district?.district)
    .map(item => ({ name: item?.district, page: item?.page }))


const centres = centers.map(center => center.districts)
    .flat()
    .map(district => district?.centres)
    .flat()
    .filter(centre => centre?.centre)
    .map(item => ({ name: item?.centre, page: item?.page }))

const pages = [
  ...states,
  ...districts,
  ...centres
]

const page = pages.find(page => page.name === slug)?.page

---

<Layout
  title="Campus | Best International K12 Primary Schools South bengalore Electronic City"
>
  <div class="flex flex-col">
    <TopNavigationBar />
    <div
      class="h-[70svh] flex"
      style="background: linear-gradient(360deg, #1B2226 0%, #052B4C 52.08%, #1370A7 100%);"
    >
      <Hero
        config={{ title: "Welcome to Little Elly", bgImage: campus1 }}
        showSlide={true}
        slideImages={[
          { slide: slide1.src, position: "center 64%", type: "image" },
          { slide: slide2.src, position: "center 64%", type: "image" },
          { slide: slide3.src, position: "center 64%", type: "image" },
        ]}
        contentDirection="items-end"
        className="overflow-hidden font-roundo"
      >
          <div slot="title">
            <!-- <div class="p-20"></div> -->
            <Text type="h2">
              Little Elly -  <span class="text-yellow">{slug}</span>
             </Text> 
             <Button buttonType="secondary" slot="ctaButton" buttonClass="border-[#F6BD60] mt-r">
              <Text type="base" class="text-[#AF7F30] !tracking-[2px] uppercase font-[700] font-sans text-[20px] max-md:text-[16px]">
                Apply Now
              </Text>
            </Button>
          </div>
      </Hero>
    </div>
  </div>
  <!-- <Events /> -->
  {page?.centreHead && page?.centreHead.description && (
    <Section class="flex items-center flex-col gap-l">
       <Text type="h2" class="text-[#253b70] text-center">About <span class="text-red-200">Centre</span></Text>
       <div class="text-[#FFF7F0] rounded-[30px] flex gap-l bg-[#FFF7F0] p-l justify-center items-center  max-sm:flex-col">
        <div class="max-sm:order-0 flex-shrink-0">
          <Image src={aboutLittleEllyPlaceholder} alt="Prinipal" class="h-[400px] sm:h-[300px] object-cover object-center" width={400} height={300} />
        </div>
         <div class="max-sm:order-1">
           <Text type="base" class={`text-xl font-sans text-dark-gray font-[400] mt-r leading-8`}>{page?.aboutUs?.description}</Text>
         </div>
         <div></div>
   
       </div>
    </Section>
  )}
  {page?.centreHead && page?.centreHead.description && (
    <Section class="flex items-center flex-col gap-l">
       <Text type="h2" class="text-[#253b70] text-center">Centre <span class="text-red-200">Head</span></Text>
       <div class="text-[#FFF7F0] rounded-[30px] flex gap-l bg-[#FFF7F0] p-l justify-center items-center  max-sm:flex-col">
         <div class="max-sm:order-1">
           <Text type="h3" class="text-primary">{page?.centreHead.name}</Text>
           <Text type="base" class={`text-xl font-sans text-dark-gray font-[400] mt-r leading-8`}>{page?.centreHead.description}</Text>
         </div>
         {page.centreHead.img && (
           <div class="max-sm:order-0 flex-shrink-0">
             <Image alt="Centre Head" src={page.centreHead.img} alt="principle" class="h-[500px] sm:h-[300px] object-cover object-top" width={400} height={500} />
           </div>
         )}
         <div></div>
   
       </div>
    </Section>
  )}

<div data-appear id="contact-us" style="scroll-margin: 60px;">
  <Connect
    details={{
      phoneNo: {
        label: "Call us On",
        value: page?.telephone,
        type: "contact",
      },
      workingHours: {
        label: "Mail us at",
        value: page?.email,
        type: "mail",
      },
      address: {
        label: "We are here",
        value:
          page?.address,
        type: "address",
      },
    }}
    mapEmbedLink={`https://www.google.com/maps/embed/v1/place?key=AIzaSyAW4mmhYRbPA2nPi-wzuJBPalXSuInbKks&q=${page?.addressTitle + ','+ page?.address}`}
  />
</div>

  <div class="max-md:block hidden pt-8" />
 <Why />
 <MeetCharacters />
 <HappyCurriculum />
 
  <!-- <Gallery
    id="classroom-facilities"
    gallery={[
      { src: campus1.src, caption: "Digitally Enabled Classrooms" },
      { src: campus4.src, caption: "Wonder Room" },
      { src: campus3.src, caption: "Well-stocked Library" },
    ]}
/> -->
  <GoToCta className="!bg-[white]" />
  <Footer />

</Layout>

<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }
</style>

<script define:vars={{ page }}>
  console.log('states -->', page)
</script>