---
import Layout from "../layouts/Layout.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";

import Hero from "./LandingPageHero.astro";

import "../global.css";

import Footer from "../components/landingPage/Footer.astro";
import Text from "../components/system/Text.astro";
import Section from "../components/system/Section.astro";
import GoToCta from "../components/GoToCta.astro";
import campus1 from "../images/campus/gas/gallery/1.jpeg";
import config from "../../config";
const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");
import slide1 from "../images/slides/1.png";
import slide3 from "../images/slides/4.png";
import aboutUsBG from "../image/about-us/bg.webp";
import aboutUsBGMb from "../image/about-us/bgMb.webp";
import slide5 from "../images/slides/05.webp";
import Connect from "../components/campus/Connect.astro";

import vision from "../image/about-us/vision.png";

import blobBig from "../fillers/blobBig.png";
import blobBigDark from "../fillers/blobBigDark.png";
import { Image } from "astro:assets";
import Carousel from "../components/system/Carousel.astro";
import CarouselCard from "../components/system/CarouselCard.astro";

import what from "../image/about-us/what.jpeg";
import why from "../image/about-us/why.jpeg";
import theme from "../image/about-us/theme.png";
import assesment from "../image/about-us/assessment.jpeg";
import profiles from "../image/about-us/profiles.png";

import mission1 from "../image/about-us/mission-1.png";
import mission2 from "../image/about-us/mission-2.png";
import mission3 from "../image/about-us/mission-3.png";

import president from "../image/about-us/president2.jpg";
import principal from "../image/about-us/principal.png";

import AdvisoryBoard from "../components/AdvisoryBoard.astro";
import Awards from "../components/Awards.astro";
import qualityPolicy from "../image/about-us/qualityPolicy.png";
import FilledArrowCircle from "../components/icons/FilledArrowCircle.astro";
import InquiryBasedLearning from "../components/InquiryBasedLearning.astro";
import slide2 from "../images/slides/3.png";
const toppers = campusConfig?.toppers;
import Philosophy from "../images/academic/philosophy.png"
import team1 from "../images/aboutUs/vittal.jpeg.webp"
import Zonal from "../images/ZONAL.png"
import Student1 from "../images/aboutUs/student.png";
import Student2 from "../images/aboutUs/student2.png";
import Student3 from "../images/aboutUs/student3.png";
import preeti from "../images/aboutUs/preeti.jpeg.webp";
import amitTiwari from "../images/aboutUs/Amit-Tiwari.png";
import PreetiAlva from "../images/aboutUs/Preeti-Alva.png";
import curriculamTeam from "../images/aboutUs/CURRICULUM-TEAM.png";

import Gallery from "../components/Gallery.astro";
import Ticker from "../components/Ticker.astro";

// import ticker1 from '../images/aboutUs/ticker/1.png'
// import ticker2 from '../images/aboutUs/ticker/2.png'
// import ticker3 from '../images/aboutUs/ticker/3.png'
// import ticker4 from '../images/aboutUs/ticker/4.png'
// import ticker5 from '../images/aboutUs/ticker/5.png'
// import ticker6 from '../images/aboutUs/ticker/6.png'
// import ticker7 from '../images/aboutUs/ticker/7.png'
// import ticker8 from '../images/aboutUs/ticker/8.png'

import { getEntry } from 'astro:content';
import HeroTitle from "../components/HeroTitle.astro";

const { data } = await getEntry('aboutUs', 'aboutus')
const {heroImages,herotitle,visionAndMissionSection,ourPhilosophySection,awardsSection,ctaCardTitleAbout} = data;
const titlelength = herotitle.split(' ').length;
const titleSimple = herotitle.split(' ').slice(0,titlelength-1).join(' ');
const titleColoredWord = herotitle.split(' ').slice(-1).join(' ');
const visionSectionlength = visionAndMissionSection[0].title.split(' ').length;
const visionSectionFirstWord = visionAndMissionSection[0].title.split(' ')[0];
const visionSectionMiddleWord = visionAndMissionSection[0].title.split(' ').slice(1,visionSectionlength-1);
const visionSectionLasttWord = visionAndMissionSection[0].title.split(' ').slice(-1).join(' ');
const visionSectionDescription = visionAndMissionSection[0].description;
const tickerArr = visionAndMissionSection[0].slideImages
const tickerArrfromOneToFour = tickerArr.slice(0,4)
const tickerArrfromFiveToEight = tickerArr.slice(4,8)
const {title:ourPhilosophyTitle,description:ourPhilosophyDescription,image:ourPhilosophyImage,imageAlt:ourPhilosophyImageAlt} =ourPhilosophySection[0];
const ourPhilosophyTitleLength = ourPhilosophyTitle.split(' ').length;
const ourPhilosophyTitleSimple = ourPhilosophyTitle.split(' ').slice(0,ourPhilosophyTitleLength-1).join(' ')
const ourPhilosophyTitleColored = ourPhilosophyTitle.split(' ').slice(-1).join(' ');
const ourTeamSection= data.ourTeamSection[0];
const {heading,teamMembers} = ourTeamSection;
const ourTeamSectionHeadingLength = heading.split(' ').length;
const ourTeamSectionHeadingStarting = heading.split(' ').slice(0,ourTeamSectionHeadingLength-1).join(' ')
const ourTeamSectionHeadingprimary = heading.split(' ').slice(-1).join(' ');
const vittalObject = teamMembers[0];
const preetiObject = teamMembers[1];
const amitObject = teamMembers[2];
const preetiAlvaObject = teamMembers[3];
const zonalObject = teamMembers[4];
const curriculumObject = teamMembers[5];
const heroImage = [{...data.heroImages,type : 'image'}]
// console.log(heroImage)

---

<Layout
  title="About Little Elly | Committed to Excellence in Preschool."
  description="Know about Little Elly's commitment and mindset. Our creative programs and skilled team express our love for Preschool."
  keywords="About Little elly"
>
  <div class="flex flex-col">
    <TopNavigationBar />
    <div
    class="h-[76svh] max-md:h-[50svh] flex"
  >
  <Hero
    config={{ title: "Welcome to Little Elly", bgImage: campus1 }}
    showSlide={true}
    slideImages={data.heroImages}
    contentDirection="items-end"
    className="overflow-hidden font-roundo"
  >
    <div slot="title">
      <!-- <div class="p-20"></div> -->
      <Text type="h1Sm">
        {titleSimple}{' '}  <span class="text-yellow">{titleColoredWord}</span>
       </Text>

    </div>
</Hero>
  </div>
  </div>


  <Section
    class="flex flex-col w-full items-center text-left !p-0 text-black"
  >
    <div
      class="w-full flex max-md:items-center max-md:gap-[10px] flex-row max-md:flex-col py-[82px] max-md:py-6 gap-[125px] text-left max-md:text-center !p-0"
      id="mission"

    >
      <div class="max-md:flex block flex-col items-center md:p-xl py-l px-5 text-left ">
        <Text type="h2" class="text-[#282828]"><span class="text-primary">{visionSectionFirstWord}</span> {visionSectionMiddleWord}{' '} <span class="text-[#78ADF9]">{visionSectionLasttWord}</span></Text>

        <div class="pt-4 max-md:pt-2"></div>
        <div class="pt-6 max-md:pt-2"></div>
        <Text type="base" class="max-w-[600px] font-sans text-[#1B2226]">
          {visionSectionDescription}
        </Text>
      </div>

      <div class="overflow-hidden">
        <div class="hmove hidden px-4 max-md:flex py-2 gap-4 w-screen mb-4">
          {tickerArr.map((item, i) => (
            <div class="w-[200px] h-[150px] flex-shrink-0 rounded-md">
              <Image width={252} height={305} src={item.image} alt={item.imageAlt} class="w-full h-full object-cover" />
            </div>
          ))}
          {tickerArr.map((item, i) => (
            <div class="w-[200px] h-[150px] flex-shrink-0 rounded-md">
              <Image width={252} height={305} src={item.image} alt={item.imageAlt} class="w-full h-full object-cover" />
            </div>
          ))}
          <div class="w-[200px] h-[150px] bg-red-100 flex-shrink-0"></div>
          <div class="w-[200px] h-[150px] bg-red-100 flex-shrink-0"></div>
          <div class="w-[200px] h-[150px] bg-red-100 flex-shrink-0"></div>
          <div class="w-[200px] h-[150px] bg-red-100 flex-shrink-0"></div>
          <div class="w-[200px] h-[150px] bg-red-100 flex-shrink-0"></div>
          <div class="w-[200px] h-[150px] bg-red-100 flex-shrink-0"></div>
        </div>
      </div>
       <div class="max-h-[676px] max-md:h-[400px] relative overflow-hidden max-md:hidden block pr-14">
        <div class="flex gap-m">
          <div class="h-[600px] overflow-hidden">
            <div class="relative vmove">
              <div class="flex flex-col max-md:flex-row gap-4 justify-center items-center text-center">
                {tickerArrfromOneToFour.map((item, i) => (
                  <div class="w-[252px] max-md:w-[200px] max-md:h-[140px] h-[305px] rounded-md">
                    <Image width={252} height={305} src={item.image} alt={item.imageAlt} width={252} height={305} class="w-full h-full object-cover" />
                  </div>
                ))}
              </div>
              <div class="pt-4"></div>
              <div class="flex flex-col max-md:flex-row gap-4 justify-center items-center text-center">
                {tickerArrfromOneToFour.map((item, i) => (
                  <div class="w-[252px] max-md:w-[200px] max-md:h-[140px] h-[305px] rounded-md">
                    <Image width={252} height={305} src={item.image} alt={item.imageAlt} width={252} height={305} class="w-full h-full object-cover" />
                  </div>
                ))}
              </div>
            </div>
          </div>

          <div class="h-[600px] overflow-hidden">
            <div class="relative vmove-reverse">
              <div class="flex flex-col gap-4 justify-center items-center text-center">
                {tickerArrfromFiveToEight.map((item, i) => (
                  <div class="w-[252px] max-md:w-[200px] max-md:h-[140px] h-[305px] rounded-md">
                    <Image width={252} height={305} src={item.image} alt={item.imageAlt} width={252} height={305} class="w-full h-full object-cover" />
                  </div>
                ))}
              </div>
              <div class="pt-4"></div>
              <div class="flex flex-col gap-4 justify-center items-center text-center">
                {tickerArrfromFiveToEight.map((item, i) => (
                  <div class="w-[252px] max-md:w-[200px] max-md:h-[140px] h-[305px] rounded-md">
                    <Image width={252} height={305} src={item.image} alt={item.imageAlt} width={252} height={305} class="w-full h-full object-cover" />
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>

        <div class="w-full h-[100px] absolute inset-0 z-9" style="background: linear-gradient(#f2dbb6 0%, #fff0 100%)"></div>
        <div class="w-full h-[100px] absolute bottom-0 z-9 rotate-180" style="background: linear-gradient(#f2dbb6 0%, #fff0 100%)"></div>

       </div>
    </div>

  </Section>
  <Section class="w-full flex flex-col items-center bg-[#FDF2E5] gap-l pb-0 relative">
    <div class="flex justify-between items-center">
        <!-- <Image src={Rope} alt={"rope"} class={'w-30 object-contain absolute -top-8 left-0 block max-md:hidden'} data-y={0}></Image> -->
          <Text type="h2" class="text-center">
            <div>
              {ourPhilosophyTitleSimple} <br />
              <span class="text-6xl font-semibold text-center text-[#F6BD60]" style="text-shadow: 1.1px 2.19px #6F322E;">{ourPhilosophyTitleColored}</span>

              <!-- <span class="relative">
                <span class="text-primary">Rich </span> <MultiStyleText type="h2"text="History" classes={[
                  "text-purple","text-blue","text-green-200", "text-orange-200", "text-purple","text-blue","text-green-200"
                ]} />

              </span> -->
            </div>
          </Text>
        <div  data-y={0}>
          <!-- <Image src={Birds} alt={"birds"} class={'relative max-sm:w-20  z-10 object-contain opacity-0 pointer-events-none'}> </Image> -->
          <!-- <Image src={clouds} height={50} alt={"clouds"} class={'absolute right-[20%] top-[-80%] max-sm:w-10  object-contain'}> </Image> -->
        </div>
    </div>
    <div class="flex gap-6 w-full justify-between items-center max-md:flex-col max-md:items-center max-md:mt-0">
      <Text type="base" class="!text-[22px] max-md:!text-[18px]  !text-[#1B2226] !leading-[160%] max-w-[50ch] mt-r max-md:mt-0">
         {ourPhilosophyDescription}
      </Text>
      <Image src={ourPhilosophyImage} alt={ourPhilosophyImageAlt} width={448} height={446} class={"max-w-[448px] max-h-[445px] basis-[40%] max-md:max-w-[340px] max-md:max-h-[360px]"} />
    </div>

  </Section>

  <div class=" w-full h-[150px] max-md:h-[40px] flex bg-transparent relative">
    {
      Array(6).fill("").map((_, i) => (
        <div class="basis-[100%] rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241 117" fill="none">
  <path d="M0.468471 -3.86623C0.468468 27.939 13.1031 58.4416 35.5928 80.9313C58.0825 103.421 88.5851 116.056 120.39 116.056C152.196 116.056 182.698 103.421 205.188 80.9314C227.678 58.4417 240.312 27.9391 240.312 -3.8662L120.39 -3.86622L0.468471 -3.86623Z" fill="#FDF2E5"/>
  </svg></div>
      ))
    }

  </div>

  <Section class="flex relative items-center justify-center flex-col">

    <Text type="h2" class="text-purple text-center pt-0">{ourTeamSectionHeadingStarting}{' '} <span class="text-primary">{ourTeamSectionHeadingprimary}</span></Text>

    <!-- <div class="flex flex-col justify-center items-center"> -->
      <div class="absolute hidden md:block left-0 w-fit">
        <svg width="76" height="748" viewBox="0 0 76 748" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M-1.5 1.99939C113.407 181.682 80.4301 601.966 -1.49999 746.499" stroke="#B892F9" stroke-width="5" stroke-dasharray="20 20"/>
         </svg>
      </div>
      <div class="absolute hidden md:block right-0 w-fit">
        <svg width="73" height="748" viewBox="0 0 73 748" fill="none">
          <path d="M77 1.99951C-37.9067 181.683 -4.93011 601.966 77 746.5" stroke="#EE7F82" stroke-width="5" stroke-dasharray="20 20"/>
          </svg>
      </div>
      <div class="min-w-[756px] max-md:min-w-full flex flex-col gap-xl m-xl max-md:mb-0">
        <!-- <div class="flex justify-between"> -->
        <div class="grid grid-cols-1 gap-20 max-md:flex max-md:flex-col md:grid-cols-2 md:gap-[200px]">
          <div class="flex items-center justify-center flex-col">
            <Image class={"rounded-full w-[264px] h-[264px] object-cover border-primary border-[5px]"} height={264} width={264} src={vittalObject.image} alt={vittalObject.imageAlt} />
            <div class="mt-r flex flex-col items-center">
              <Text type="h3" class="text-primary text-center">{vittalObject.personName}</Text>
              <Text type="h4" class="text-[#111] font-semibold text-center font-sans">{vittalObject.personRole}</Text>
            </div>
          </div>
          <div class="flex items-center justify-center flex-col">
            <Image class={"rounded-full w-[264px] h-[264px] object-cover border-primary border-[5px]"} height={264} width={264} src={preetiObject.image} alt={preetiObject.imageAlt} />
            <div class="mt-r flex flex-col items-center">
              <Text type="h3" class="text-primary text-center">{preetiObject.personName}</Text>
              <Text type="h4" class="text-[#111] font-semibold text-center font-sans">{preetiObject.personRole}</Text>
            </div>
          </div>
        </div>
        <!-- <div class="flex justify-between"> -->
          <div class="grid grid-cols-1 gap-20 max-md:flex max-md:flex-col md:grid-cols-2 md:gap-[200px]">
          <div class="flex items-center justify-center flex-col">
            <Image class={"rounded-full w-[264px] h-[264px] object-cover border-primary border-[5px]"}  height={264} width={264} src={amitObject.image} alt={amitObject.imageAlt} />
            <div class="mt-r flex flex-col items-center">
              <Text type="h3" class="text-primary text-center ">{amitObject.personName}</Text>
              <Text type="h4" class="text-[#111] font-semibold text-center font-sans">{amitObject.personRole}</Text>
            </div>
          </div>
          <div class="flex items-center justify-center flex-col">
            <Image class={"rounded-full w-[264px] h-[264px] object-cover border-primary border-[5px]"} height={264} width={264} src={preetiAlvaObject.image} alt={preetiAlvaObject.imageAlt} />
            <div class="mt-r flex flex-col items-center">
              <Text type="h3" class="text-primary text-center">{preetiAlvaObject.personName}</Text>
              <Text type="h4" class="text-[#111] font-semibold text-center font-sans">{preetiAlvaObject.personRole}</Text>
            </div>
          </div>
        </div>
        <!-- <div class="flex justify-between gap-xl"> -->
        <div class="grid md:grid-cols-2 grid-col-1 gap-20  md:gap-[106px]">
          <div class="flex items-center justify-center flex-col">
            <!-- <Image class={"rounded-[32px] w-auto aspect-video h-[204px] object-cover border-primary border-[5px]"} src={Zonal} alt={'team'} /> -->
            <Image class={"rounded-[32px] w-auto aspect-video h-[170px] md:h-[204px] object-cover border-primary border-[5px]"} height={204} width={204} src={zonalObject.image} alt={zonalObject.imageAlt} />
            <div class="mt-r flex flex-col items-center">
              <Text type="h4" class="text-[#111] font-semibold text-center font-sans">{zonalObject.personRole}</Text>
            </div>
          </div>
          <div class="flex items-center justify-center flex-col">
            <Image class={"rounded-[32px] w-auto aspect-video h-[170px] md:h-[204px] object-cover border-primary border-[5px]"}  height={204} width={204} src={curriculumObject.image} alt={curriculumObject.imageAlt} />
            <div class="mt-r flex flex-col items-center">
              <Text type="h4" class="text-[#111] font-semibold text-center font-sans">{curriculumObject.personRole}</Text>
            </div>
          </div>
        </div>

    </div>

  </div>

  </Section>
  <Awards data={awardsSection[0]} />
  <GoToCta data={ctaCardTitleAbout} />
  <Footer />
</Layout>

<script>
  const readMoreBtns = document.querySelectorAll('[data-read-more-btn]')

  readMoreBtns.forEach(readMoreBtn => {
    readMoreBtn.addEventListener('click', () => {
      const readMoreContent = document.querySelector(`[data-read-more="${readMoreBtn.dataset.readMoreBtn}"]`)
      console.log('actionnn --->>>', readMoreBtn.dataset.readMoreBtn)
      if (readMoreBtn?.dataset.action !== 'hide') {
        readMoreContent?.classList.remove('hidden')
        readMoreBtn.querySelector('.read-more-text').innerText = 'Hide'
        readMoreBtn.querySelector('.arrow')?.classList.add('hide')
        readMoreBtn.dataset.action = 'hide'
      } else {
        readMoreContent?.classList.add('hidden')
        readMoreBtn.querySelector('.read-more-text').innerText = 'READ MORE'
        readMoreBtn.querySelector('.arrow')?.classList.remove('hide')
        readMoreBtn.dataset.action = 'show'
      }

    })
  })

</script>

<style>
  .float {
    position: fixed;
    color: #fff;
    border-radius: 50px;
    text-align: text-center;
    font-size: 30px;
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  @keyframes tickerv {
    0% { bottom: 0%; }
    100% { bottom: 213%; }
  }

  @keyframes tickerh {
    0% { transform: translatex(0%); }
    100% { transform: translatex(-420%); }
  }

  .vmove {
    animation: tickerv linear 25s infinite;
  }

  .hmove { animation: tickerh linear 16s infinite; }

  .hmove:hover { animation-play-state: paused; }
  .vmove-reverse {
    animation: tickerv linear 25s infinite;
    animation-direction: reverse;
  }



  .my-float {
    margin-top: 16px;
  }
</style>
