---
import { Image } from "astro:assets"
import MultiStyleText from "../components/system/MultiStyleText.astro"
import Text from "../components/system/Text.astro"
import CloudImage from "../icons/cloud.svg"
import Button from "../components/system/Button.astro"
import CloudBannerImage from "../image/cloudBg.png"
import MbCloudBannerImage from "../image/mb-cloudBg.png"

import Student from "../image/heroStudent.png"
import heroStudent from "../image/heroStudent/student.png"
import heroBg from "../image/heroStudent/bg.png"

import Person from "../image/person.png"
// import CloudLeft from "../image/decorationCloud.png"
import CloudLeft from "../images/cloudLeft.svg"
import CloudRight from "../images/cloudRight.svg"
import Elephant from "../image/decorations/elephant.png"
import Olly from "../image/decorations/olly.png"
import arya from "../image/decorations/studentLeft.png"
import Monkey from "../image/decorations/monkey.png"

import Background from "../components/system/Background.astro"

import music from "../image/decorations/gifs/music.gif"
import heartgif from "../image/decorations/gifs/heart.gif"
import heartgif2 from "../image/decorations/gifs/heart-2.webp"
import Sun from "../image/decorations/gifs/sun.gif"

import bgPrint from '../images/bgPrint.png'

// import gif5 from '../image/decorations/gifs/gif5.webp'
import plane from '../image/decorations/gifs/plane.gif'

import heroSectionLayer1 from '../images/heroSection/z-1.png'
import heroSectionLayer2 from '../images/heroSection/z-2.png'
import heroSectionLayer3 from '../images/heroSection/z-3.png'
import heroSectionLayer4 from '../images/heroSection/z-4.png'
import happyCurriculum from '../images/heroSection/happyCurriculum.svg'
import elephantShadow from '../images/heroSection/elephantShadow.svg'
import heroMb from '../images/heroMb.png'

const leftCloudSVG = `<svg width="100%" height="100%" viewBox="0 0 1239 1152" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M183.158 808.96C203.914 816.467 225.31 815.003 241.306 802.912C245.571 799.687 249.14 795.858 252.3 791.489C268.078 801.91 286.548 803.225 299.496 793.436C308.941 786.296 313.526 774.627 312.919 761.79C328.451 768.72 345.255 768.464 357.442 759.252C359.27 757.87 360.809 756.423 362.213 754.796C365.213 761.298 369.094 767.7 373.721 773.82C401.482 810.545 447.38 822.809 476.02 801.16C490.949 789.874 498.247 771.344 497.894 751.243C520.127 766.403 546.857 768.828 565.29 754.894C580.981 743.033 586.951 722.113 583.049 700.167C596.682 707.118 611.859 707.244 622.675 699.068C625.722 696.765 628.208 694.037 630.133 690.884C649.508 702.264 671.792 703.241 687.331 691.495C702.564 679.979 707.789 659.339 702.957 638.38C703.567 637.919 704.16 637.754 704.769 637.293C715.89 628.886 719.788 613.775 716.41 598.224C734.565 602.605 752.652 600.248 766.667 589.653C782.053 578.023 789.384 558.902 788.639 537.966C811.435 540.253 833.619 535.082 851.443 521.608C875.969 503.068 887.58 472.509 885.907 439.26C894.433 438.19 902.345 435.038 909.2 429.856C935.555 409.934 936.197 366.448 910.749 332.784C909.797 331.524 908.692 330.379 907.739 329.119C910.857 328.177 913.719 326.579 916.461 324.506C928.191 315.639 932.002 299.462 927.503 283.061C936.743 282.3 945.52 279.343 952.832 273.815C972.484 258.96 977.129 230.271 966.653 203.111C968.008 202.37 969.515 201.514 970.734 200.592C982.007 192.071 984.8 175.815 979.235 160.219L901.939 57.9669C901.787 58.082 901.618 58.4924 901.466 58.6075C887.768 52.8375 873.288 53.3164 862.624 61.3775C857.292 65.408 853.49 70.8284 851.233 77.3435C842.02 74.9727 832.747 76.324 825.587 81.7364C818.275 87.264 814.582 95.9962 814.351 105.507C795.902 98.5189 776.573 99.5511 762.101 110.491C750.219 119.473 743.757 133.41 742.896 149.055C731.195 141.492 717.389 140.33 707.792 147.585C699.261 154.034 695.998 165.552 698.553 177.483C687.616 177.264 677.228 180.307 668.545 186.871C657.881 194.932 651.67 206.983 649.752 220.597C640.708 217.816 631.468 218.577 624.46 223.874C617.605 229.056 614.369 237.443 614.442 246.723C597.957 238.533 579.712 238.464 566.61 248.368C556.251 256.198 551.041 268.624 550.854 282.627C529.125 279.533 505.009 285.316 484.748 300.632C459.917 319.403 447.114 347.752 448.72 374.261C430.129 364.551 409.424 364.079 394.494 375.364C389.62 379.049 385.85 383.879 382.929 389.199C368.735 381.823 353.27 381.632 341.997 390.154C330.876 398.561 326.842 413.492 329.931 428.979C308.882 426.785 288.766 431.525 272.466 443.847C246.873 463.193 236.999 496.683 242.645 532.02C226.117 527.258 209.521 529.054 196.724 538.727C183.471 548.745 177.152 565.404 177.923 583.209C173.94 583.956 170.197 585.655 166.845 588.188C163.037 591.067 160.197 594.911 158.359 599.13C146.938 602.388 135.37 608.304 124.402 616.595C99.8752 635.135 86.0488 660.863 86.7776 682.095L182.853 809.19L183.158 808.96Z" fill="#FF989C"/>
<path d="M248.877 896.521C269.634 904.028 291.03 902.564 307.025 890.473C311.291 887.248 314.86 883.419 318.02 879.05C333.798 889.471 352.267 890.786 365.216 880.997C374.661 873.858 379.246 862.188 378.639 849.351C394.171 856.281 410.974 856.025 423.162 846.813C424.99 845.431 426.529 843.984 427.933 842.357C430.933 848.859 434.814 855.261 439.441 861.381C467.202 898.106 513.1 910.37 541.74 888.721C556.669 877.435 563.967 858.905 563.614 838.804C585.847 853.964 612.577 856.39 631.01 842.455C646.7 830.594 652.67 809.674 648.769 787.728C662.402 794.679 677.579 794.805 688.395 786.629C691.441 784.326 693.928 781.598 695.853 778.445C715.076 789.94 737.207 791.032 752.898 779.171C768.132 767.655 773.356 747.015 768.525 726.056C769.134 725.595 769.727 725.43 770.336 724.969C781.457 716.563 785.355 701.452 781.978 685.9C799.996 690.101 817.947 687.564 831.962 676.97C847.349 665.339 854.679 646.218 853.934 625.282C876.73 627.569 898.914 622.398 916.738 608.925C941.264 590.384 952.875 559.825 951.202 526.577C959.729 525.506 967.64 522.354 974.495 517.172C1000.85 497.25 1001.49 453.765 976.045 420.101C975.092 418.84 973.987 417.695 973.035 416.435C976.152 415.493 979.014 413.895 981.756 411.822C993.486 402.955 997.297 386.779 992.798 370.377C1002.04 369.616 1010.81 366.659 1018.13 361.131C1037.78 346.276 1042.42 317.587 1031.95 290.428C1033.3 289.686 1034.81 288.83 1036.03 287.909C1047.3 279.387 1050.1 263.131 1044.53 247.535L967.234 145.283C967.082 145.398 966.913 145.809 966.761 145.924C953.063 140.154 938.583 140.633 927.919 148.694C922.587 152.724 918.785 158.145 916.528 164.66C907.315 162.289 898.043 163.64 890.883 169.053C883.57 174.58 879.878 183.312 879.646 192.823C861.197 185.835 841.869 186.867 827.396 197.807C815.514 206.79 809.053 220.726 808.191 236.371C796.49 228.809 782.684 227.646 773.087 234.901C764.556 241.35 761.294 252.869 763.849 264.799C752.911 264.58 742.524 267.623 733.84 274.187C723.177 282.248 716.965 294.299 715.047 307.913C706.003 305.132 696.763 305.893 689.755 311.19C682.9 316.372 679.664 324.759 679.737 334.039C663.253 325.849 645.007 325.78 631.906 335.684C621.547 343.515 616.337 355.94 616.15 369.943C594.42 366.849 570.304 372.632 550.043 387.948C525.212 406.719 512.409 435.068 514.015 461.577C495.424 451.868 474.719 451.395 459.79 462.68C454.915 466.365 451.145 471.195 448.224 476.515C434.031 469.139 418.565 468.949 407.292 477.47C396.172 485.877 392.137 500.808 395.227 516.295C374.178 514.101 354.061 518.841 337.761 531.163C312.168 550.509 302.294 584 307.94 619.337C291.413 614.574 274.816 616.37 262.02 626.043C248.766 636.062 242.447 652.72 243.219 670.525C239.235 671.273 235.492 672.971 232.141 675.504C228.332 678.383 225.492 682.227 223.654 686.446C212.233 689.704 200.665 695.62 189.697 703.911C165.171 722.451 151.344 748.18 152.073 769.411L248.42 896.867L248.877 896.521Z" fill="#FFA3A7"/>
<path d="M254.459 983.9C275.215 991.407 296.611 989.944 312.607 977.852C316.872 974.628 320.441 970.798 323.602 966.429C339.38 976.85 357.849 978.165 370.798 968.377C380.243 961.237 384.827 949.567 384.22 936.73C399.752 943.66 416.556 943.405 428.743 934.192C430.571 932.81 432.111 931.363 433.514 929.737C436.514 936.239 440.395 942.64 445.022 948.761C472.784 985.485 518.681 997.75 547.321 976.1C562.25 964.814 569.548 946.284 569.195 926.183C591.428 941.343 618.158 943.769 636.591 929.835C652.282 917.973 658.252 897.053 654.35 875.108C667.983 882.058 683.16 882.184 693.976 874.008C697.023 871.705 699.509 868.977 701.435 865.824C720.521 877.139 742.653 878.231 758.343 866.37C773.577 854.854 778.802 834.214 773.97 813.255C774.579 812.795 775.172 812.629 775.782 812.168C786.903 803.762 790.801 788.651 787.423 773.099C805.577 777.481 823.665 775.123 837.68 764.529C853.066 752.898 860.397 733.778 859.652 712.841C882.447 715.129 904.632 709.957 922.455 696.484C946.982 677.944 958.592 647.384 956.919 614.136C965.446 613.065 973.358 609.914 980.213 604.732C1006.57 584.809 1007.21 541.324 981.762 507.66C980.81 506.4 979.705 505.255 978.752 503.995C981.87 503.052 984.732 501.455 987.474 499.382C999.204 490.515 1003.01 474.338 998.516 457.936C1007.76 457.175 1016.53 454.218 1023.84 448.691C1043.5 433.835 1048.14 405.146 1037.67 377.987C1039.02 377.246 1040.53 376.389 1041.75 375.468C1053.02 366.946 1055.81 350.69 1050.25 335.095L972.952 232.842C972.799 232.958 972.631 233.368 972.478 233.483C958.78 227.713 944.3 228.192 933.637 236.253C928.305 240.283 924.502 245.704 922.246 252.219C913.032 249.848 903.76 251.199 896.6 256.612C889.288 262.139 885.595 270.872 885.363 280.382C866.915 273.394 847.586 274.427 833.114 285.367C821.232 294.349 814.77 308.286 813.909 323.93C802.207 316.368 788.402 315.206 778.804 322.46C770.273 328.909 767.011 340.428 769.566 352.358C758.628 352.14 748.241 355.183 739.558 361.747C728.894 369.808 722.683 381.858 720.765 395.472C711.72 392.691 702.481 393.452 695.473 398.749C688.618 403.931 685.382 412.318 685.455 421.599C668.97 413.409 650.724 413.34 637.623 423.243C627.264 431.074 622.054 443.499 621.867 457.502C600.138 454.409 576.022 460.191 555.761 475.507C530.93 494.278 518.127 522.627 519.733 549.136C501.142 539.427 480.436 538.954 465.507 550.24C460.632 553.925 456.862 558.755 453.942 564.074C439.748 556.699 424.283 556.508 413.01 565.03C401.889 573.436 397.855 588.367 400.944 603.854C379.895 601.661 359.779 606.4 343.478 618.722C317.886 638.069 308.012 671.559 313.658 706.896C297.13 702.133 280.534 703.929 267.737 713.602C254.484 723.621 248.164 740.279 248.936 758.084C244.953 758.832 241.209 760.53 237.858 763.064C234.05 765.943 231.21 769.786 229.372 774.005C217.95 777.264 206.383 783.179 195.415 791.47C170.888 810.011 157.061 835.739 157.79 856.971L254.002 984.246L254.459 983.9Z" fill="url(#paint0_linear_1112_2720)"/>
<defs>
<linearGradient id="paint0_linear_1112_2720" x1="748.915" y1="787.712" x2="519.647" y2="484.419" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFEEEE"/>
<stop offset="1" stop-color="#FFAEAF"/>
</linearGradient>
</defs>
</svg>
`

const rightCloudSVG = `<svg width="802" height="1146" viewBox="0 0 802 1146" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M566.507 1079.34C546.257 1070.56 531.697 1054.81 528.357 1035.04C527.467 1029.77 527.498 1024.54 528.197 1019.19C509.569 1015.94 495.231 1004.23 492.528 988.222C490.556 976.547 495.228 964.913 504.478 955.991C488.425 950.375 476.376 938.659 473.832 923.595C473.45 921.335 473.323 919.226 473.418 917.08C466.774 919.751 459.558 921.745 451.993 923.022C406.599 930.689 364.795 908.118 358.817 872.717C355.7 854.264 363.105 835.776 377.155 821.396C350.579 817.169 329.47 800.592 325.622 777.808C322.347 758.413 332.359 739.098 350.255 725.811C335.568 721.513 324.441 711.191 322.183 697.822C321.547 694.056 321.611 690.365 322.373 686.75C300.471 681.734 283.59 667.155 280.346 647.948C277.166 629.118 287.527 610.519 305.424 598.587C305.296 597.834 304.978 597.307 304.851 596.554C302.53 582.808 310.063 569.141 323.191 560.145C306.978 550.876 295.438 536.75 292.512 519.426C289.3 500.408 297.087 481.469 311.994 466.75C293.842 452.772 281.252 433.788 277.532 411.757C272.411 381.441 284.934 351.244 308.965 328.205C303.496 321.576 299.904 313.855 298.473 305.381C292.971 272.805 322.341 240.731 363.952 233.703C365.51 233.44 367.099 233.365 368.657 233.102C367.035 230.277 366.05 227.151 365.477 223.762C363.029 209.263 371.356 194.88 385.883 186.036C379.684 179.142 375.328 170.969 373.802 161.931C369.699 137.64 386.005 113.582 412.261 101.014C411.785 99.5447 411.276 97.8876 411.021 96.3812C408.668 82.447 417.79 68.705 432.54 61.1785L558.93 39.8323C558.962 40.0206 558.803 40.4348 558.835 40.6231C572.759 45.8247 582.964 56.1088 585.19 69.2898C586.303 75.8803 585.35 82.4324 582.521 88.7203C590.85 93.3174 596.668 100.663 598.162 109.513C599.689 118.551 596.383 127.437 590.026 134.515C608.242 142.09 621.594 156.104 624.615 173.992C627.096 188.68 622.233 203.251 612.125 215.223C625.826 217.751 636.667 226.378 638.67 238.241C640.451 248.786 634.921 259.404 624.876 266.329C632.983 273.675 638.451 283.016 640.264 293.749C642.49 306.93 638.74 319.959 630.793 331.178C639.281 335.361 645.481 342.255 646.944 350.916C648.375 359.39 644.974 367.711 638.553 374.412C656.164 379.765 669.485 392.235 672.22 408.428C674.382 421.233 669.647 433.847 660.174 444.162C678.104 456.821 691.679 477.575 695.909 502.619C701.093 533.312 690.954 562.719 671.596 580.901C691.783 586.594 707.169 600.458 710.286 618.911C711.304 624.937 710.732 631.037 709.206 636.911C724.592 641.285 735.973 651.758 738.327 665.692C740.648 679.438 733.338 693.067 720.464 702.214C737.281 715.061 748.663 732.312 752.066 752.46C757.409 784.095 741.612 815.232 713.258 837.064C728.549 844.94 739.39 857.634 742.061 873.451C744.828 889.834 737.994 906.288 725.216 918.71C727.601 921.987 729.159 925.791 729.858 929.934C730.653 934.642 730.081 939.386 728.524 943.716C734.597 953.924 738.952 966.164 741.242 979.722C746.362 1010.04 738.767 1038.24 723.668 1053.19L566.571 1079.72L566.507 1079.34Z" fill="#FF989C"/>
<path d="M477.162 1080.92C456.912 1072.14 442.351 1056.39 439.012 1036.62C438.122 1031.35 438.153 1026.11 438.852 1020.77C420.224 1017.52 405.886 1005.8 403.183 989.799C401.211 978.125 405.883 966.49 415.133 957.568C399.079 951.952 387.031 940.236 384.486 925.172C384.105 922.912 383.977 920.804 384.073 918.657C377.429 921.329 370.213 923.322 362.648 924.6C317.254 932.266 275.45 909.695 269.471 874.294C266.355 855.841 273.76 837.354 287.81 822.973C261.234 818.746 240.125 802.17 236.277 779.385C233.001 759.99 243.013 740.675 260.91 727.388C246.223 723.09 235.096 712.768 232.838 699.399C232.202 695.633 232.265 691.942 233.028 688.328C211.157 683.5 194.308 669.109 191.032 649.714C187.852 630.884 198.214 612.284 216.11 600.353C215.983 599.6 215.665 599.072 215.538 598.319C213.216 584.573 220.749 570.906 233.877 561.91C217.887 552.603 206.569 538.44 203.643 521.117C200.431 502.098 208.218 483.159 223.126 468.44C204.974 454.463 192.384 435.479 188.663 413.448C183.543 383.131 196.065 352.934 220.096 329.896C214.628 323.266 211.035 315.545 209.604 307.072C204.102 274.496 233.473 242.421 275.084 235.394C276.641 235.131 278.231 235.056 279.788 234.793C278.167 231.968 277.181 228.842 276.609 225.452C274.16 210.953 282.488 196.571 297.015 187.726C290.815 180.833 286.46 172.66 284.933 163.621C280.831 139.33 297.136 115.273 323.393 102.704C322.916 101.235 322.407 99.5781 322.153 98.0717C319.8 84.1375 328.922 70.3955 343.671 62.869L470.062 41.5228C470.093 41.7111 469.935 42.1253 469.966 42.3136C483.89 47.5151 494.095 57.7992 496.321 70.9802C497.434 77.5707 496.481 84.1229 493.652 90.4108C501.981 95.0079 507.799 102.353 509.294 111.203C510.82 120.242 507.515 129.128 501.158 136.205C519.373 143.781 532.726 157.794 535.747 175.683C538.227 190.37 533.365 204.942 523.257 216.914C536.958 219.441 547.798 228.069 549.802 239.932C551.583 250.476 546.052 261.094 536.008 268.02C544.114 275.366 549.583 284.707 551.395 295.44C553.622 308.621 549.871 321.649 541.925 332.868C550.413 337.051 556.612 343.945 558.075 352.607C559.506 361.08 556.105 369.401 549.685 376.102C567.296 381.456 580.616 393.925 583.351 410.119C585.514 422.923 580.778 435.537 571.306 445.852C589.236 458.511 602.811 479.265 607.041 504.309C612.224 535.002 602.086 564.409 582.728 582.592C602.914 588.285 618.301 602.148 621.417 620.602C622.435 626.627 621.863 632.728 620.338 638.602C635.724 642.975 647.105 653.448 649.458 667.382C651.78 681.128 644.47 694.758 631.596 703.904C648.413 716.751 659.795 734.002 663.197 754.151C668.54 785.785 652.743 816.923 624.389 838.754C639.68 846.63 650.521 859.325 653.193 875.142C655.959 891.524 649.126 907.978 636.348 920.401C638.732 923.678 640.29 927.482 640.99 931.624C641.785 936.332 641.213 941.077 639.656 945.407C645.728 955.614 650.084 967.854 652.374 981.412C657.494 1011.73 649.898 1039.93 634.8 1054.88L477.257 1081.48L477.162 1080.92Z" fill="#FFA3A7"/>
<path d="M378.038 1082.46C357.788 1073.68 343.227 1057.93 339.888 1038.16C338.998 1032.89 339.029 1027.65 339.728 1022.3C321.1 1019.06 306.762 1007.34 304.059 991.337C302.087 979.662 306.759 968.028 316.009 959.106C299.955 953.489 287.907 941.774 285.362 926.71C284.981 924.45 284.854 922.341 284.949 920.195C278.305 922.866 271.089 924.859 263.524 926.137C218.13 933.804 176.326 911.232 170.347 875.832C167.231 857.379 174.636 838.891 188.686 824.511C162.11 820.284 141.001 803.707 137.153 780.923C133.878 761.528 143.89 742.213 161.786 728.926C147.099 724.628 135.972 714.306 133.714 700.936C133.078 697.17 133.141 693.48 133.904 689.865C112.256 685 95.4067 670.609 92.131 651.214C88.9508 632.384 99.3126 613.784 117.209 601.853C117.082 601.1 116.764 600.572 116.636 599.819C114.315 586.073 121.848 572.406 134.976 563.41C118.763 554.141 107.223 540.015 104.297 522.692C101.085 503.674 108.872 484.734 123.78 470.015C105.627 456.038 93.0375 437.054 89.3167 415.023C84.1965 384.707 96.7191 354.509 120.75 331.471C115.282 324.841 111.689 317.12 110.258 308.647C104.756 276.071 134.126 243.996 175.737 236.969C177.295 236.706 178.884 236.631 180.442 236.368C178.821 233.543 177.835 230.417 177.262 227.028C174.814 212.529 183.141 198.146 197.668 189.302C191.469 182.408 187.113 174.235 185.587 165.196C181.484 140.906 197.79 116.848 224.047 104.279C223.57 102.81 223.061 101.153 222.807 99.6468C220.453 85.7126 229.576 71.9707 244.325 64.4442L370.715 43.098C370.747 43.2863 370.588 43.7004 370.62 43.8887C384.544 49.0903 394.749 59.3744 396.975 72.5554C398.088 79.1459 397.135 85.698 394.306 91.9859C402.635 96.5831 408.453 103.928 409.948 112.778C411.474 121.817 408.169 130.703 401.811 137.78C420.027 145.356 433.379 159.369 436.4 177.258C438.881 191.945 434.018 206.517 423.91 218.489C437.611 221.017 448.452 229.644 450.456 241.507C452.236 252.052 446.706 262.669 436.661 269.595C444.768 276.941 450.236 286.282 452.049 297.015C454.275 310.196 450.525 323.224 442.579 334.444C451.066 338.627 457.266 345.52 458.729 354.182C460.16 362.655 456.759 370.977 450.338 377.677C467.949 383.031 481.27 395.5 484.005 411.694C486.167 424.498 481.432 437.112 471.959 447.427C489.889 460.086 503.464 480.841 507.694 505.884C512.878 536.577 502.739 565.985 483.381 584.167C503.568 589.86 518.954 603.723 522.071 622.177C523.089 628.202 522.517 634.303 520.991 640.177C536.378 644.55 547.759 655.023 550.112 668.957C552.434 682.703 545.123 696.333 532.249 705.479C549.067 718.327 560.448 735.578 563.851 755.726C569.194 787.36 553.397 818.498 525.043 840.33C540.334 848.205 551.175 860.9 553.846 876.717C556.613 893.099 549.78 909.553 537.001 921.976C539.386 925.253 540.944 929.057 541.643 933.2C542.438 937.907 541.867 942.652 540.309 946.982C546.382 957.189 550.738 969.429 553.027 982.987C558.147 1013.3 550.552 1041.51 535.453 1056.45L378.133 1083.02L378.038 1082.46Z" fill="url(#paint0_linear_1116_3277)"/>
<defs>
<linearGradient id="paint0_linear_1116_3277" x1="152.962" y1="600.463" x2="527.85" y2="537.147" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFEEEE"/>
<stop offset="1" stop-color="#FFAEAF"/>
</linearGradient>
</defs>
</svg>`
---

<!-- Pre-school -->
<div class="flex pt-[130px] items-center w-full relative max-sm:pt-[170px] h-auto max-sm:max-h-[800px] max-sm:min-h-[800px] max-sm:h-[800px] max-sm:block">


  <div class="z-[-1] block md:hidden w-screen h-screen absolute top-0">
    <Image src={heroMb} class="w-full h-full object-cover" alt={"decoration"} width={500} />
  </div>
  <Image src={Sun} class="absolute top-[-5%] block max-md:hidden left-[16%] object-contain w-[192px] h-[192px] z-[0]" alt={"decoration"} />
  <div class="w-full max-md:hidden block absolute top-[12vh] left-0 h-[60%] z-[0]" data-hero-section-parallax>
    <!-- <Image src={heroSectionLayer1} class="w-full h-full object-cover object-top" alt={"decoration"} width={1920} /> -->
    <Image src={heroSectionLayer1} class="w-full h-full object-cover absolute top-0 left-0 object-top" alt={"decoration"} width={1440} />
    <Image src={heroSectionLayer2} class="w-full h-full object-cover absolute top-0 left-0 object-top" alt={"decoration"} width={1440} />
    <Image src={heroSectionLayer3} class="w-full h-full object-cover absolute top-0 left-0 object-top" alt={"decoration"} width={1440} />
    <div class="w-full h-full  absolute top-0 left-0">
      <Image src={heroSectionLayer4} class="w-full h-full object-cover object-top" alt={"decoration"} width={1920}>
      </Image>
      <!-- <Image src={happyCurriculum} class="opacity-0 w-[290px] h-[140px] object-contain absolute bottom-[24%] right-[10%]" alt={"decoration"} width={290} /> -->
      <!-- <div data-hero-elephant class="opacity-0 w-full h-full absolute top-0 left-0">
        <div class="absolute right-[-1%] bottom-[43%] -scale-x-100" data-appear data-delay={0.8}  data-trigger="hero-container">
          <Image data-hero-elephant-heart src={heartgif} class=" z-[42]  absolute top-[-10%] left-[42%] object-contain h-[50px] max-sm:h-[90px] max-sm:left-[1%] max-sm:top-[17%]" alt={"decoration"} />  
          <Image src={Elephant} class=" z-10  object-contain h-[150px]  max-sm:hidden" alt={"decoration"} />
        </div>
      </div> -->
      <!-- <Image data-hero-elephant-shadow src={elephantShadow} class="opacity-0 w-[150px] h-[24px] object-contain absolute bottom-[39%] right-[3%]" alt={"decoration"} width={150} /> -->
    </div>
  </div>

  <div class="absolute top-0 left-0 max-w-[100vw] w-screen h-[100vh] overflow-x-hidden">
    <Image src={CloudLeft} class="absolute top-0 left-0 h-[150px] w-[420px] max-sm:hidden" alt={"decoration"} data-appear data-delay={0.1} data-y={0} data-x={-150} data-t={0.4} data-trigger="hero-container" data-cloud={1} />
    <Image src={CloudRight} class="absolute top-0 right-0 h-[272px] w-[205px]  max-sm:hidden" alt={"decoration"} data-appear data-delay={0.1} data-y={0} data-x={150} data-t={0.4} data-trigger="hero-container" data-cloud={2} />
  </div>
<!-- 
  <div  class="opacity-0 absolute top-[18%] left-[15%] max-md:top-[12%] max-md:left-[2%]" data-hero-top-animal data-appear data-delay={0.8} data-y={0} data-x={-20}>
    <Image src={music} class="opacity-0 absolute top-[-10%] left-[30%] max-md:top-[2%] object-contain h-[50px] max-sm:h-[30px] max-sm:right-[-5%] max-sm:top-[-6%]" alt={"decoration"} />
    <Image src={Olly} class="opacity-0 z-[100] relative object-contain h-[200px] max-sm:h-[26vw] max-sm:left-[0%] max-sm:top-[1%] w-auto" alt={"decoration"}  />
  </div> -->
  <!-- <div class="absolute right-[15%] top-[20%] max-md:top-[10%] max-md:right-[10%]" data-hero-top-animal data-appear data-delay={0.8} data-y={0} data-x={20}>
    <Image src={Sun} class=" absolute right-[-40%] object-contain h-[80px] z-[0]  max-sm:h-[50px] max-sm:top-[6px] max-sm:right-[-40%]" alt={"decoration"} />
    <Image src={Monkey} class="object-contain h-[200px] max-sm:h-[24vw] relative z-[2] w-auto max-sm:top-[20px] top-0" alt={"decoration"} />
  </div> -->


  <div class="flex items-center flex-col">

    <div class="flex flex-col items-center gap-s relative" data-parent="hero-container">
      <div class="flex flex-col items-center gap-s max-md:min-h-[110vh]" data-hero-container>
        <Text type="h2" class="text-center text-primary text-[4.5rem] !leading-11">
            <div data-delay={0.1} data-appear>A Happy</div>
            <div data-delay={0.1} data-appear={1} style={{textShadow: "0px 4.016px 2.008px rgba(21, 2, 55, 0.10);"}}>
              <MultiStyleText  text="Pre-school" class="text-primary"
                  classes={[
                      "text-purple",
                      "text-primary",
                      "text-green-200",
                      "text-[#F6BD60]",
                      "text-primary",
                      "text-purple",
                      "text-green-200",
                      "text-[#F6BD60]",
                      "text-purple",
                      "text-primary",
                  ]}
              />
              </div>
        </Text>
        <div data-delay={0.1} data-appear={2}>
          <Text type="regular" class="text-red-800 font-[600] tracking-[0.8px] leading-[120%] font-sans text-center !text-[26px] max-md:!text-[18px]">
          Where every day is an <br class="hidden max-md:block" />unforgettable <br class="block max-md:hidden" />
            adventure of learning
          </Text>
        </div>
        <div  data-delay={0.4} data-appear={3}>
          <Button buttonType="secondary" slot="ctaButton" buttonClass="border-[#F6BD60]" class="mt-m max-md:mt-[20px]" >
            <a href="/admissions">
  
              <Text type="base" class="text-[#AF7F30] !tracking-[2px] uppercase font-[700] font-sans text-[20px] max-md:text-[16px]">
                Apply Now
              </Text>
            </a>
          </Button>
        </div>
      </div>
        
    </div>

    <div
      class="w-[580px] min-h-[70vh] block max-md:hidden max-sm:w-[50vw]  mt-[30px] max-sm:mt-[40%] z-[0] relative"
      data-parent="hero-student"
      data-hero-section-student
    >
      <!-- <Image src={star3} class="absolute top-[8%] left-[6%] object-contain h-[50px] max-sm:h-[10px] max-sm:left-[1%] max-sm:top-[17%]" alt={"decoration"} /> -->
      <Image src={heroBg} class="w-full object-contain max-sm:w-[50vw] relative z-[-1]" alt={"student holds"} data-appear data-delay={1.2} data-trigger="hero-container" data-hero-section-bg />
      <Image src={heroStudent} class="absolute top-0 left-[0%] w-full h-full object-contain z-[2]" alt={"student holds"} data-appear data-delay={1.2} data-opacity={1} data-y={530} data-trigger="hero-container"   />
    </div>
    <!-- <Image src={Student} class="max-w-[400px] object-contain mt-[30px] max-sm:w-[50vw] max-sm:mt-[40%] z-[-1]" alt={"student holds"} data-appear data-delay={1.2} data-trigger="hero-container" /> -->
    
    <div class="flex-col relative flex justify-center items-center w-screen bottom-[100px]" data-bottom-cloud>
    

      <div data-hero-arya data-appear data-delay={0.8}  data-trigger="hero-container" class="w-[200px] h-[400px] absolute right-[5%] top-[-20%] z-[50]">
        <Image src={arya} class="absolute right-[5%] top-[-30%] object-contain h-[400px] z-[100] max-sm:hidden" alt={"decoration"} />
        <Image src={heartgif2} class="absolute object-contain h-[80px] right-[-20px] top-[-40px] z-[100] max-sm:hidden" alt={"decoration"} data-baloon />
      </div>

      <div class="w-screen overflow-hidden absolute">
        <picture>
          <source srcset={CloudBannerImage.src} media="(min-width: 768px)" />
          <source srcset={MbCloudBannerImage.src} media="(max-width: 767px)" />
          <img src={MbCloudBannerImage.src} alt="cloud" class="w-full object-contain object-center inset-0" />
        </picture>
      </div>
      

        <div class="relative flex  max-w-full flex-col mb-16 items-start py-24 pb-[40px] px-16 max-md:px-5"  data-appear data-appear-mb="false" data-delay={0.1} data-trigger="hero-student">
            <svg class="ml-[-77px] block max-md:hidden" xmlns="http://www.w3.org/2000/svg" width="66" height="47" viewBox="0 0 66 47" fill="none">
                <path opacity="0.1" d="M28.1062 33.1331C28.1062 40.6739 22.8505 46.3867 14.8526 46.3867C6.85469 46.3867 -0.000648499 39.9884 -0.000648499 28.5629C-0.000648499 14.3952 10.7394 2.28409 24.6785 -0.00102234V8.45388C16.6807 10.0535 10.7394 15.7662 10.7394 22.3931C12.1104 21.479 13.9385 20.7935 16.9092 20.7935C22.8505 20.7935 28.1062 25.1352 28.1062 33.1331ZM65.125 33.1331C65.125 40.6739 59.6407 46.3867 51.6428 46.3867C43.8735 46.3867 36.7896 39.9884 36.7896 28.5629C36.7896 14.3952 47.5297 2.28409 61.6973 -0.00102234V8.45388C53.6994 10.0535 47.7582 15.7662 47.7582 22.1645C49.1292 21.2505 51.1858 20.7935 53.928 20.7935C59.8692 20.7935 65.125 25.1352 65.125 33.1331Z" fill="#2D2D2D"/>
            </svg>
            <Text type="h2" class="text-[#111] !font-[400] !text-[3vw] max-md:!text-[18px] text-center max-md:mt-3 mt-0">
              This is a place where  our <br class="max-md:hidden block"> child feels 
               <span class="text-[#EE7F82] font-[700]">loved, valued, <br class="max-md:hidden block"> and excited to learn</span>
                <br />
            </Text>
            <Image 
              src={plane}
              alt="plane"
              width={100}
              class="absolute bottom-[80px] right-[-10px] w-[100px] max-md:hidden block"
            />
            <!-- <Image 
              src={gif5}
              alt="plane"
              width={100}
              class="absolute bottom-[80px] right-[-10px] w-[100px]"
            /> -->
            
          <span class="items-stretch self-center flex gap-3.5 mt-5 max-md:mt-2">
            <Image
              loading="lazy"
              src={Person}
              alt={"person"}
              class="aspect-square object-contain object-center w-[68px] max-md:w-[40px] overflow-hidden shrink-0 max-w-full"
            />
            <Text type="h4" class="font-sans text-[#1B2226] font-[600] !text-2xl max-md:!text-[18px] leading-9 my-auto">
              Dr Alina, Mother of Viaani
            </Text>
          </span>
        </div>
    </div>
  </div>

<div>