---
import { Image } from "astro:assets"
import MultiStyleText from "../components/system/MultiStyleText.astro"
import Text from "../components/system/Text.astro"
import Button from "../components/system/Button.astro"
import Section from "../components/system/Section.astro"
import Marker from "../components/system/Marker.astro"
import daycare from "../images/daycare.png";

const {data} = Astro.props;



---


 <Section class="p-[30px] px-[70px]">
      <div data-appear class="text-[#FFF7F0] rounded-[50px] flex
        max-sm:flex-col
        gap-l bg-[#FFF7F0] p-l justify-between items-center max-sm:p-r">
        <div class="basis-[50%] max-sm:order-1">
          <Text type="h3" class="text-[#FF7162] !text-[35px]">{data?.title}</Text>
          <Text type="base" class={`text-xl font-sans text-dark-gray font-[400] mt-r leading-8`}>{data?.description}</Text>
          <br >
          <div class="flex-col">
        {data?.list.map(item=>
            <div class="flex items-center gap-r max-md:pb-2">
            <Marker color="#FF7162" />
            <Text type="base" class={`text-xl font-sans text-dark-gray font-[400] leading-8`}>{item?.listText}</Text>
          </div>
        )}
        </div>
        </div>
        <div class="basis-[30%] max-sm:order-0">
          {data?.image && <Image src={data?.image} height={400} width={400} alt="Day Care" class="object-contain max-h-[400px] max-sm:h-[200px]" />}
        </div>

      </div>
    </Section>