---
import TopNavigationBar from "../components/TopNavigationBar.astro";
import Text from "../components/system/Text.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "./Hero.astro";
import ProgramHero from "../images/program/hero.png"
import campus1 from "../images/campus/gas/gallery/1.jpeg";
import ProgramHero from "../images/program/hero.png"
import Button from "../components/system/Button.astro";
import Section from "../components/system/Section.astro";
import MultiStyleText from "../components/system/MultiStyleText.astro";
import program1 from '../images/programs/program1.png'
import program2 from '../images/programs/program2.png'
import program3 from '../images/programs/program3.png'
import program4 from '../images/programs/program4.png'
import program5 from '../images/programs/program5.png'
import GoToCta from "../components/GoToCta.astro";
import Footer from "../components/landingPage/Footer.astro";
import { Image } from "astro:assets";
import Marker from "../components/system/Marker.astro";
import BirdFlower from "../image/decorations/bird-sun.png";
import Flowers from "../image/decorations/flowers.png";
import Flower from "../image/decorations/flower.png";
import Rainbows from "../image/decorations/rainbows.png";
import Student from "../images/student4.png";
import DaycareFacilities from "./daycare-facilities.astro";
import slide1 from "../images/slides/1.png";
import slide2 from "../images/slides/3.png";
import slide3 from "../images/slides/4.png";

const programData = [
    {
        title: 'Toddler',
        subtitle: 'Age criteria: 18 months +',
        image: program2,
        titleClass: 'text-[#EE7F82]',
        subTitleClass: 'text-[#EE7F82]',
        subText: '(Adult to child ratio- 1:5)',
        desc: "The toddler curriculum at Little Elly is well structured and designed to encourage the holistic development of children who are in the process of rapid physical and cognitive development. The emphasis is on creating a supportive and engaging atmosphere for toddlers' growth and development through their critical years of learning.",
        skills: [
          "Constructive play",
          "Sensory exploration",
          "Mark making learning",
          "Artistic movement ",
          "Emergent Literacy",
        ],
        decorationImage: BirdFlower,
    },
    {
        title: 'Play Group',
        subtitle: 'age 2 Years +',
        image: program1,
        titleClass: 'text-[#A5D27C]',
        subTitleClass: 'text-[#A5D27C]',

        desc: "The Playgroup Program at Little Elly focuses on happy learning evolving in the school environment. We concentrate on the wholesome development of the child by conducting age–appropriate activities. Our Monthly theme includes an engaging package of hands-on activities blended with STEM-based learning.",
        skills: [
          "Pre-writing skills ",
          "Cognitive development",
          "Social and emotional learning",
          "Gross and fine motor skills  ",
          "Language and communication skills",
          "Exploring the world through themes",
          "Early literacy and pre- math concepts ",
        ],
        subText: '(Adult to child ratio- 2:15)',
        decorationImage: Flower,
    },
    {
        title: 'nursery',
        subtitle: 'age 3 Years +',
        image: program3,
        titleClass: 'text-[#78ADF9]',

        subTitleClass: 'text-[#78ADF9]',
        desc: "The Nursery Program at Little Elly is well-equipped with concepts that mould our little tots as inquisitive learners. The education journey of a child is fostered through the love for learning. The focus is to strike a balance between play based learning blending it with structured learning. ",
        skills: [
          "Communication Skills ",
          "Dramatic play and role play",
          "Story Time",
          "Visual stimulation through play   ",
          "Hands on learning",
          "Literacy and Math concepts",
          "Introduction of Phonics  ",
          "Sensory based learning"
        ],
        subText: '(Adult to child ratio- 2:18)',
        decorationImage: Flowers,
    },
    {
        title: 'LKG',
        subtitle: 'age 4 Years +',
        image: program5,
        titleClass: 'text-[#B892F9]',
        subTitleClass: 'text-[#B892F9]',
        desc: "The LKG program at Little Elly caters to our curious learners. Here the focus for kids is to learn concepts through hands-on learning and to encourage them to express themselves by building a strong vocabulary. We create an environment to set up a clear and consistent routine for the children.",
        skills: [
          "Mindful activities ",
          "Spoken language",
          "Social skills and creative arts",
          "Pre-reading skills  ",
          "Regional languages",
          "General awareness",
        ],
        subText: '(Adult to child ratio- 2:20)',
        decorationImage: Rainbows,
    },
    {
        title: 'UKG',
        subtitle: 'age 5 Years +',
        image: program1,
        titleClass: 'text-[#F6BD60]',
        subTitleClass: 'text-[#F6BD60]',
        desc: "The UKG program at Little Elly focuses on building the foundational skills to prepare children to learn more advanced concepts and develop independent reading and writing skills. Here we create a supportive and stimulating learning environment and prepare them to build a strong foundation for formal schooling.",
        skills: [
          "Independent reading and writing skills ",
          "Mathematical concepts",
          "Advance phonics skills",
          "Logical learning   ",
          "Problem solving skills ",
          "Environmental awareness",
        ],
        subText: '(Adult to child ratio- 2:20)',
    },
]

import { getEntry } from 'astro:content';

const {data: homePageCmsData}  = await getEntry('home', 'home_page_content')

---

<Layout
  title="Little Elly | Our Types of Preschool Programs."
  description="Check out the types of preschool programs. Every child receives comprehensive development through our specially designed curriculum."
  keywords="Kindergarten classes"
>

<div class="flex flex-col">
    <TopNavigationBar />
    <div
      class="h-[76svh] flex"
    >
    <Hero
    config={{ title: "Welcome to Little Elly", bgImage: campus1 }}
    showSlide={true}
    slideImages={[
      { slide: slide1.src, position: "center 64%", type: "image" },
      { slide: slide2.src, position: "top 20%", type: "image" },
      { slide: slide3.src, position: "top 64%", type: "image" },
    ]}
    contentDirection="items-end"
    className="overflow-hidden font-roundo"
  >
      <div slot="title">
        <!-- <div class="p-20"></div> -->
        <Text type="h1Sm">
          Our  <span class="text-yellow">Programs</span>
         </Text>

      </div>
  </Hero>
    </div>
    <Section class="bg-[#FDF2E5]">

    <div class="flex flex-col gap-[60px] items-center">
      {
        programData.map((item, index )=> {
          return (
            <div data-appear={index === 0 ? false : index}>
              <div class="flex gap-xl max-sm:flex-col items-center">
                <Image class={`${index % 2 !== 0 && 'order-1 max-sm:order-[unset]'} object-contain max-md:mt-5 max-h-[300px] max-w-[300px]`} src={item.image} alt={'Program: ' + item.title}/>
                <div class="flex flex-col">
                  <Text type="h3" class={`text-2xl font-bold ${item.titleClass} uppercase`}>{item.title}</Text>
                  <Text type="base" class={`text-xl font-bold ${item.subTitleClass} uppercase font-[700] max-md:text-[20px] font-display`}>{item.subtitle}</Text>
                  <Text type="base" class={`text-xl text-black/70 font-[700] font-display`}>{item.subText}</Text>

                  <Text type="base" class={`text-xl font-sans text-dark-gray font-[400] mt-r leading-[160%] max-w-[62ch]`}>{item.desc}</Text>
                  <br />
                  <Text type="base">The curriculum focuses to develop basic skills such as:</Text>
                  <br />

                  {
                    item.skills && item.skills.map((skill) => {
                      return (
                      <div class="flex items-center gap-r">
                      <Marker color={item.subTitleClass.replace('text-', '').replace('[', '').replace(']', '')} />
                        <Text type="base" class={`text-xl font-sans text-dark-gray font-[400] leading-[0]`}>{skill}</Text>

                        </div>
                      )
                    })
                  }


                </div>
                </div>
               {/*  <div class={`${index % 2 == 0 ? 'ml-auto' : '' } w-fit p-r`}>
                  {item.decorationImage && <Image src={item.decorationImage} alt="bird" /> }
                </div> */}
              </div>

          )
        })
      }

    </div>

    <DaycareFacilities data={homePageCmsData.dayCaresSection[0]} />
    </Section>
    <GoToCta className="!bg-[#FDF2E5]" data="Admissions Open for <span>2024-25!!</span>" />

    <Footer />
</div>

</Layout>