---
import MultiStyleText from "./system/MultiStyleText.astro"
import Section from "./system/Section.astro"
import Text from "./system/Text.astro"
import { Image } from "astro:assets"
import Student1 from "../images/student1.png"
import CloudText from "./CloudText.astro"
import OrangeCloud from "../images/clouds/orange.png"
import BlueCloud from "../images/clouds/blue.png"
import PurpleCloud from "../images/clouds/purple.png"
import GreenCloud from "../images/clouds/green.png"
import RedCloud from "../images/clouds/red.png"
import cloud1 from "../images/clouds/1.png"
import cloud2 from "../images/clouds/2.png"
import cloud3 from "../images/clouds/3.png"
import cloud4 from "../images/clouds/4.png"

import fox from "../image/decorations/gifs/fox.webp"
---
<Section class="flex flex-row mt-[-17vh] max-md:mt-[-280px]  max-md:flex-col justify-between items-start max-sm:gap-l">

    <div class="flex flex-col gap-9 max-md:items-center max-md:w-full w-[unset] max-md:gap-4">
        <div data-appear data-parent="overview-section">
            <Text type="h2" class="max-sm:text-center">
                Our  <MultiStyleText
                text="Overview"
                classes={["text-primary", "text-purple", "text-[#78ADF9]", "text-green-200", "text-orange-200", "text-primary", "text-purple", "text-[#78ADF9]"]}
             />
        </div>
       <div data-appear={1} data-trigger="overview-section"  class="relative" data-y={50}>

           <Image height={300} width={300} src={Student1} alt="student" class={' relative max-sm:w-[150px]'}  />
           <Image height={80} src={fox} alt="fox" class={'absolute bottom-[4%] right-[-30%] max-sm:w-[40px]'} />
       </div>

    </div>
    <div class="flex flex-col max-md:w-full gap-l max-md:gap-l">
      <div class="flex gap-l justify-around items-center max-md:flex-row max-md:gap-0">
          <CloudText i={2} img={OrangeCloud} title={"CENTRES"} subtitle={'130 +'} className="text-orange-200" />
          <CloudText i={3} img={BlueCloud} title={"CHILDREN"} subtitle={'8000 +'} className="text-[#78ADF9] !pt-11 max-md:!pt-2" />
      </div>
      <div class="flex gap-l justify-around items-center max-md:flex-row max-md:gap-0">
          <CloudText i={4} img={PurpleCloud} title="DECADES" subtitle={'2'} className="text-purple !pt-8 max-md:!pt-2" />
          <CloudText i={5} img={RedCloud} title={"FACULTY"} subtitle={'650 +'} className="text-primary !pt-11 max-md:!pt-2" />
      </div>


      <div class="flex pt-xl gap-l justify-center items-center max-md:flex-row max-md:pt-r">

      </div>
    </div>
</Section>