---
import { Image } from 'astro:assets'
import program1 from '../images/programs/program1.png'
import program2 from '../images/programs/program2.png'
import program3 from '../images/programs/program3.png'
import program4 from '../images/programs/program4.png'
import program5 from '../images/programs/program5.png'
import Section from './system/Section.astro'
import Text from './system/Text.astro'
import MultiStyleText from './system/MultiStyleText.astro'
import Button from './system/Button.astro'

import rabbit from '../image/decorations/gifs/rabbit.gif'
import deer from '../image/decorations/gifs/deer.gif'

export const programData = [
    {
        title: 'Toddler',
        subtitle: 'Age: 18+ MONTHS',
        image: program2,
        titleClass: 'text-red-200',
        subTitleClass: 'text-red-200',


    },
    {
        title: 'Play Group',
        subtitle: 'age: 2 Years +',
        image: program1,
        titleClass: 'text-green-200',
        subTitleClass: 'text-green-200',
    },
    {
        title: 'nursery',
        subtitle: 'age: 3 Years +',
        image: program5,
        titleClass: 'text-blue-100',
        subTitleClass: 'text-blue-100',

    },
    {
        title: 'LKG',
        subtitle: 'age: 4 Years +',
        image: program4,
        titleClass: 'text-purple',
        subTitleClass: 'text-purple',
    },
    {
        title: 'UKG',
        subtitle: 'age: 5 Years +',
        image: program3,
        titleClass: 'text-orange-200',
        subTitleClass: 'text-orange-200',
    },
]

const {data} = Astro.props;
const {heading,buttonText,buttonLink,ourPrograms} = data[0];
const headingColor = ["text-purple", "text-red-200", "text-green-200", "text-orange-200", "text-purple", "text-primary", "text-green-200", "text-orange-200"];
const finalColoredHeading = [...headingColor,...headingColor]
const headingLength = heading.split(' ').length;
const simpleHeading = heading.split(' ').slice(0,headingLength-1).join(' ');
const coloredHeading = heading.split(' ').slice(-1)[0];
console.log(ourPrograms)


---
<Section class="flex flex-col gap-l max-md:pt-10 items-center" style="background: linear-gradient(0deg, #FEF7F9 0%, #FEF7F9 100%);">
    <div data-appear  class="flex flex-row gap-[40px]">
        <Image height={100} src={rabbit} alt="rabbit" class={'relative max-sm:w-[50px] max-sm:object-contain'} />
        <Text type="h2" class="relative text-center">{simpleHeading}
            <br />
            <MultiStyleText
                classes={finalColoredHeading}
                text={coloredHeading}
            >

            </MultiStyleText>
        </Text>

        <Image height={100} src={deer} alt="rabbit" class={'relative max-sm:w-[50px] max-sm:object-contain'} />
    </div>

    <div class="flex flex-wrap item-center justify-center gap-[100px] max-sm:gap-l">
        {
            programData.map((item, index) => (
                <div class="flex flex-col items-center justify-center gap-l max-sm:gap-r">
                    <div class="flex flex-col items-center justify-center">
                        <Image src={ourPrograms[index].image} alt={ourPrograms[index].title} height={300} width={300} class="w-[300px] h-[300px] max-sm:max-w-[250px] max-sm:max-h-[250px]" />
                        <div class="mb-[15px] mt-[10px]">
                            <svg  width="100%" height="17" viewBox="0 0 183 17" fill="none">
                                <ellipse opacity="0.05" cx="91.7114" cy="8.65234" rx="90.75" ry="8.25" fill="#1C1C1C"/>
                            </svg>
                        </div>
                        <Text type="h3" class={`text-[2.25rem] font-bold text-center ${item.titleClass} leading-0 uppercase`}>{ourPrograms[index].title}</Text>
                        <Text type="base" class={`font-display text-xl max-md:!text-[20px] font-bold text-center uppercase ${item.subTitleClass}`}>{ourPrograms[index].subTitle}</Text>
                    </div>
                </div>
            ))
        }
    </div>
    <a href={buttonLink}>
        <Button type="secondary" class="mt-[4px]">
            {buttonText}
        </Button>
    </a>

</Section>